<div class="options-container"
    #container
    [style.height.px]="computedHeight"
    (resized)="onResized($event)">
    <img [style.height.px]="computedHeight"
        class="img-fluid options-item"
        (error)="handleBrokenUrl($event)"
        [src]="image.src || defaultImage"
        alt="Image Uploader">
    <input accept="image/x-png,image/gif,image/jpeg"
        (change)="fileChangeEvent()"
        #fileInput
        type="file">

    <div class="options-overlay bg-black-op-75">
        <div class="options-overlay-content">
            <h3 class="h4 text-white mb-5">Cover Image</h3>
            <!-- <h4 class="h6 text-white-op mb-15">More Details</h4> -->
            <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75 w-10 mr-5"
                (click)="showFileChooser()">
                <i class="fas fa-pencil-alt"></i> {{ image.src ? 'Change' : 'Add'}}
            </a>
            <app-spinner-button [buttonId]="'image-upload-random-button'"
                [iconClass]="'fas fa fa-random'"
                [buttonClass]="'btn btn-sm btn-rounded btn-alt-danger min-width-75 w-10 ml-5'"
                (clicked)="getRandomImage($event)">
                Random
            </app-spinner-button>
        </div>
    </div>
</div>
