<div class="file-upload">
    <div class="options-container"
        id="image-container">
        <div class="fileinput fileinput-new"
            data-provides="fileinput">
            <div class="fileinput-new img-thumbnail"
                style="width: 600px; height: 420px;">
                <img [src]="image.src || defaultImage"
                    (error)="handleBrokenUrl($event)"
                    style="width: 580px; height: 400px;"
                    alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists img-thumbnail"
                style="max-width: 600px; max-height: 420px;"></div>
            <div>
                <span class="btn btn-outline-secondary btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input accept="image/x-png,image/gif,image/jpeg"
                        (change)="fileChangeEvent()"
                        #fileInput
                        type="file"></span>
                <a href="#"
                    class="btn btn-outline-secondary fileinput-exists"
                    data-dismiss="fileinput">Remove</a>
                <app-spinner-button [iconClass]="'fas fa fa-random'"
                    [buttonClass]="'btn btn-primary float-right'"
                    (clicked)="getRandomImage($event)">
                    Random
                </app-spinner-button>
            </div>
        </div>
    </div>
</div>
