<div>
    <div class="block block-rounded block-fx-shadow">
        <div class="block-content">
            <ul class="nav nav-tabs nav-tabs-alt nav-fill content-heading"
                role="tablist">
                <li class="nav-item">
                    <button class="nav-link fs-sm text-md-start rounded-0"
                        [class.active]="currentStep===0"
                        data-bs-toggle="tab"
                        data-bs-target="wizard-progress-step0">
                        1. Info
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link fs-sm text-md-start rounded-0"
                        [class.active]="currentStep===1"
                        data-bs-toggle="tab"
                        data-bs-target="wizard-progress-step1">
                        2. Description
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link fs-sm text-md-start rounded-0"
                        [class.active]="currentStep===2"
                        data-bs-toggle="tab"
                        data-bs-target="#wizard-progress-step2">3. Artwork</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link fs-sm text-md-start rounded-0"
                        [class.active]="currentStep===3"
                        data-bs-toggle="tab"
                        data-bs-target="#wizard-progress-step3">
                        4. Category
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link fs-sm text-md-start rounded-0"
                        [class.active]="currentStep===4"
                        data-bs-toggle="tab"
                        data-bs-target="#wizard-progress-step4">
                        5. Finish up
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane"
                    [class.active]="currentStep===0"
                    id="wizard-progress-step0">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-muted">
                                Give your podcast a descriptive title. This is how it will be seen in your listeners' podcatcher.
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <div class="mb-4">
                                <label class="form-label"
                                    for="install-db-name">Name</label>
                                <input id="podcastName"
                                    name="podcast-name"
                                    class="form-control"
                                    placeholder="Podcast title"
                                    #podcastName
                                    [(ngModel)]="podcast.title">
                                <div class="text-danger text-sm"
                                    *ngIf="errorMessage "
                                    role="alert "
                                    [innerHTML]="errorMessage ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane"
                    [class.active]="currentStep===1"
                    id="wizard-progress-step1">
                    <div class="row"
                        [style]="{height: '400px'}">
                        <div class="col-lg-4">
                            <p class="text-muted">
                                Add a description for your podcast, you can make this as fancy as you like.
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <quill-editor name="description"
                                [styles]="{height: '280px'}"
                                [(ngModel)]="podcast.description"></quill-editor>
                        </div>
                    </div>
                </div>
                <div class="tab-pane"
                    [class.active]="currentStep===2"
                    id="wizard-progress-step2">
                    <div class="row mb-4">
                        <div class="col-lg-4">
                            <p class="text-muted">
                                Add an image for your podcast, we'll automatically resize it to the required sizes of the various platforms.
                                We're working on finer grained artwork management, stay tuned!
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <app-image-upload [imageUrl]="podcast.imageUrl"
                                #imageControl></app-image-upload>
                        </div>
                    </div>
                </div>
                <div class="tab-pane"
                    [class.active]="currentStep===3"
                    id="wizard-progress-step3">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-muted">
                                Choose a category for your podcast. This is kind of important as it determines where it will show up in the various podcast platforms.
                                iTunes in particular is very fussy about this.
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <app-category-selector [subcategoriesVisible]="false"
                                [label]="''"
                                [(category)]="category"></app-category-selector>
                            <div class="text-danger text-sm"
                                *ngIf="errorMessage "
                                role="alert "
                                [innerHTML]="errorMessage ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane"
                    [class.active]="currentStep===4"
                    id="wizard-progress-step4">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-muted">
                                Looks like you're all done!!<br />
                                Let's get your podcast ready for publication!
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <app-spinner-button (clicked)="finishUp()"
                                    [iconClass]="'fa fa-rocket'">
                                    Let's go!
                                </app-spinner-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="d-flex flex-row justify-content-between">
                    <button type="button"
                        [disabled]="currentStep===0"
                        class="btn btn-alt-secondary"
                        (click)="previous()">
                        <i class="fa fa-angle-left mr-5"></i>
                        Previous
                    </button>
                    <button type="button"
                        [disabled]="currentStep===4"
                        class="btn btn-alt-secondary"
                        (click)="next()"
                        data-wizard="next">
                        Next
                        <i class="fa fa-angle-right ml-5"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
