<div *ngIf="entry">
    <form class="needs-validation" [formGroup]="entryEditForm"
        (submit)="submitForm()" novalidate>
        <div class="block">
            <div class="block-header">
                <app-spinner-button
                    type="submit" [buttonClass]="'btn-success'"
                    (click)="submitForm()"
                    [disabled]="sending || !entryEditForm.valid"
                    [iconClass]="'fa fa-save'">Save&nbsp;
                </app-spinner-button>
            </div>
            <div class="block-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control"
                                id="title" name="title"
                                [ngClass]="{ 'is-invalid':
                                                !entryEditForm.valid &&
                                                entryEditForm.controls.title.invalid }"
                                placeholder="Entry title"
                                formControlName="title"
                                required>
                            <div class="invalid-feedback">
                                Title is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <quill-editor id="description"
                                name="description" [style]="{height: '400px'}"
                                formControlName="description"></quill-editor>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Cover
                                Image
                            </label>
                            <app-image-upload [imageUrl]="formImageUrl"
                                #imageControl></app-image-upload>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
