<h5 class="h6 text-center py-10 mb-0 border-b text-uppercase">Sharing
    options</h5>
<div class="form-group row">
    <div class="col-12">
        <div class="form-material floating">
            <input type="email"
                   class="form-control"
                   id="material-email2"
                   name="material-email2">
            <label for="material-email2">Email</label>
        </div>
    </div>
</div>
<div class="dropdown-divider"></div>
<a class="dropdown-item text-center mb-0"
   href="javascript:void(0)">
    <i class="fa fa-flag mr-5"></i> View All
</a>
