<div *ngIf="loading$ | async;else mainContainer">
    <div id="page-loader" class="bg-gd-lake show"></div>
</div>
<ng-template #mainContainer>
    <main id="main-container" *ngIf="loaded">
        <div class="bg-image">
            <div class="hero">
                <div class="hero-inner">
                    <div class="content content-full">
                        <div class="row justify-content-center bump-top">
                            <div class="col-md-6 py-30 text-center">
                                <h1 class="display-4 font-w700 text-white mb-10">
                                    <span class="text-primary-dark">pod</span>
                                    <span class="ftext-white-op">:</span>
                                    <span class="text-primary-dark">:</span>
                                    <span class="ftext-white-op">noms</span>
                                </h1>
                                <h2 class="h2 font-w400 text-body-bg-light pb-30 mb-20 border-white-op-b">
                                    Robot powered podcasts</h2>
                                <div class="js-countdown mb-20">
                                    <div class="row items-push text-center">
                                        <div class="col-6 col-sm-3">
                                            <div class="font-size-h1 font-w700 text-white">Create</div>
                                            <div class="font-size-xs font-w700 text-white-op">Your
                                                own podcast
                                                feeds from
                                                diverse
                                                sources</div>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <div class="font-size-h1 font-w700 text-white">Curate</div>
                                            <div class="font-size-xs font-w700 text-white-op">Add
                                                YouTube
                                                videos,
                                                Mixcloud/Soundcloud
                                                audio and
                                                many, many
                                                more</div>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <div class="font-size-h1 font-w700 text-white">Monitor</div>
                                            <div class="font-size-xs font-w700 text-white-op">Automatically
                                                add new
                                                episodes as
                                                the arrive</div>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <div class="font-size-h1 font-w700 text-white">Customise</div>
                                            <div class="font-size-xs font-w700 text-white-op">Custom
                                                domains,
                                                IFTT/Slack
                                                notifications
                                                and much
                                                more!!</div>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-large btn-hero btn-rounded btn-outline-warning mt-20"
                                    [routerLink]="['login']">
                                    <i class="fas fa-rocket mr-10"></i>
                                    Let's Go!!!!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="hero">
                <div class="hero-inner"
                     style="margin-top: -80px;">
                    <div class="py-30 px-5 text-center">
                        <h1 class="h2 font-w700 mt-50 mb-10 text-white-op">Robot Powered Podcasts</h1>
                        <a class="btn btn-hero btn-noborder btn-rounded btn-primary mt-sm-5 js-appear-enabled animated bounceIn"
                           style="color: white!important;"
                           data-toggle="appear"
                           data-class="animated bounceIn"
                           data-timeout="750"
                           [routerLink]="['login']">
                            <i class="fas fa-rocket mr-10"></i> Login/Sign Up
                        </a>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-hero btn-noborder btn-rounded btn-success"
       [routerLink]="['/about']">
                            <i class="fas fa-question mr-10"></i> More info?
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
</ng-template>
