<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="col-md-4">
                    <form (submit)="submitForm()">
                        <div class="form-group">
                            <label for="podcast-name">Podcast Name</label>
                            <input id="podcast-name" name="podcast-name" class="form-control" placeholder="Podcast name" [(ngModel)]="podcast.title">
                        </div>
                        <div *ngIf="this.podcast.id">
                            <label for="upload-input" class="custom-file">
                                <input id="upload-input" class="custom-control-input" type="file">
                            </label>
                        </div>
                        <br>
                        <button class="btn btn-primary" (change)="uploadPhoto()" #fileInput>Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>