<div *ngIf="initialised">
    <ngx-audioplayer #player
        [audioUrl]="nowPlaying.url + '?ngsw-bypass'"
        [pcmUrl]="pcmUrl"
        [imageUrl]="nowPlaying.entry.imageUrl"
        [title]="nowPlaying.entry.podcastTitle"
        [subTitle]="nowPlaying.entry.title"
        [autoPlay]="true"
        [backgroundColour]="'#f2f5f5'"
        [titleColour]="'#8fac69'"
        [subTitleColour]="'#828699'"
        [waveColour]="'#222222'"
        [waveColourProgress]="'#828699'">
    </ngx-audioplayer>
</div>
