<a [routerLink]="['/podcasts', podcast.slug]"
    [routerLinkActive]="['active']"
    (dragover)="dragover($event)"
    (drop)="drop($event)"
    ngbTooltip="{{ podcast.title }}">
    <img class="img-avatar"
        [src]="podcast.thumbnailUrl"
        [alt]="podcast.title">
    <i class="fa fa-circle text-success"
        *ngIf="newEpisodes"></i>
    <div class="text-truncate">{{podcast.title}}</div>
    <div class="fw-normal fs-xs text-muted">
        <i class="fa fa-location-arrow"></i> {{podcast.entryCount}} episodes
    </div>
</a>
