<a [routerLink]="['/podcasts', podcast.slug]"
    [routerLinkActive]="['active']"
    placement="right"
    container="body"
    (dragover)="dragover($event)"
    (drop)="drop($event)"
    (click)="closeSidebar()"
    ngbTooltip="{{ podcast.title }}">
    <img class="img-avatar"
        [src]="podcast.thumbnailUrl"
        alt="" />
    <i class="fa fa-circle text-success"
        *ngIf="newEpisodes">
    </i>
    <span class="text-primary-dark">
        {{podcast.title}}
    </span>
    <div class="font-w400 font-size-xs text-primary-dark text-muted">
        {{podcast.podcastEntries.length}} episodes
    </div>
</a>
