<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/6obXBJ8zrx4?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ"

            frameborder="0"
            allowfullscreen></iframe>
    </div>
</div>

<div id="vidtop-content">
    <div class="vid-info">
        <a class="btn btn-hero btn-noborder btn-rounded btn-primary mt-sm-5 js-appear-enabled animated bounceIn"
            style="color: white!important;"
            data-toggle="appear"
            data-class="animated bounceIn"
            data-timeout="750"
            [routerLink]="['/login']">
            <i class="fa fa-rocket mr-10"></i> Login/Sign Up
        </a>
    </div>
</div>
