<main id="main-container">
    <div class="bg-image" style="background-image: url('/assets/img/robothand.jpg'); background-size: 100% 100%;">
        <div class="hero">
            <div class="hero-inner" style="margin-top: -250px;">
                <div class="py-30 px-5 text-center">
                    <i class="login-fire"></i>
                    <span class="font-size-xl text-primary-dark">pod</span>
                    <span class="font-size-xl text-white-op">noms</span>
                    <h1 class="h2 font-w700 mt-50 mb-10 text-white-op">Robot Powered Podcasts</h1>
                    <a class="btn btn-hero btn-noborder btn-rounded btn-primary mt-sm-5 js-appear-enabled animated bounceIn" style="color: white!important;"
                        data-toggle="appear" data-class="animated bounceIn" data-timeout="750" [routerLink]="['login']">
                        <i class="fa fa-rocket mr-10"></i> Login/Sign Up
                    </a>
                </div>
                <div class="text-center">
                    <a class="btn btn-hero btn-noborder btn-rounded btn-success" [routerLink]="['/about']">
                        <i class="fa fa-question mr-10"></i> More info?
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
