<div *ngIf="formLoaded">
    <form class="needs-validation"
        [formGroup]="podcastForm"
        (submit)="submitForm()"
        novalidate>
        <div class="row">
            <div class="col-md-6 p-0 p-lg-5">
                <div class="mb-2">
                    <label for="title"
                        class="form-label">Title</label>
                    <input type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        [ngClass]="{'is-invalid': !podcastForm.valid && podcastForm.controls.title.invalid}"
                        placeholder="Podcast title"
                        formControlName="title"
                        required />
                    <div class="invalid-feedback">Title is required</div>
                </div>
                <!-- <div class="form-group">

                    </div> -->
                <div class="form-group mb-2">
                    <label for="category-selector"
                        class="form-label">Category</label>
                    <ng-select formControlName="category"
                        id="category-selector-wrapper"
                        labelForId="category-selector"
                        [items]="categories$ | async"
                        bindId
                        bindLabel="description"
                        placeholder="Select category">
                    </ng-select>
                </div>
                <div class="form-group d-none d-md-inline-block">
                    <label for="description"
                        class="form-label">Description</label>
                    <quill-editor id="description"
                        name="description"
                        [styles]="{ height: '400px' }"
                        formControlName="description">
                    </quill-editor>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="block block-rounded h-100">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Podcast image</h3>
                    </div>
                    <div class="block-content">
                        <app-image-upload [imageUrl]="podcast.imageUrl"
                            #imageControl>
                        </app-image-upload>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
