<header id="page-header"
    *ngIf="profile$ | async as profile">
    <div class="content-header">
        <div class="content-header-section">
            <button type="button"
                (click)="toggleSidebar()"
                class="btn btn-circle btn-dual-secondary"
                aria-label="Toggle sidebar">
                <i class="fas fa fa-bars"
                    aria-label="Toggle sidebar"></i>
            </button>
            <button type="button"
                class="btn btn-circle btn-dual-secondary"
                data-toggle="layout"
                data-action="header_search_on"
                (click)="searchActive = true"
                aria-label="Toggle search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="content-header-section">
            <a href="https://facebook.com/podnoms"
                rel="noopener"
                target="_blank"
                rel="noopener"
                class="btn btn-circle btn-dual-secondary btn-facebook"
                aria-label="See us on Facebook">
                <i class="text-primary fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/podnoms"
                rel="noopener"
                target="_blank"
                rel="noopener"
                class="btn btn-circle btn-dual-secondary btn-twitter"
                aria-label="See us on Twitter">
                <i class="text-primary fab fa-twitter"></i>
            </a>
        </div>
        <!-- <div class="content-header-section">
            <a href="https://talk.podnoms.com/"
                target="_blank"
                rel="noopener"
                class="btn btn-dual-secondary">
                <i class="text-primary fa fa-life-ring"></i>&nbsp;
                <span class="d-none d-md-inline-block">Help & Support</span>
            </a>
        </div> -->
        <div class="content-header-section">
            <a href="https://blog.podnoms.com/"
                target="_blank"
                rel="noopener"
                class="btn btn-dual-primary">
                <i class="fas fa-blog"></i>
                &nbsp;
                <span class="d-none d-md-inline-block">Blog</span>
            </a>
        </div>
        <div class="content-header-section">
            <a [routerLink]="['/_/extension']"
                target="_blank"
                rel="noopener"
                class="btn btn-dual-secondary">
                <i class="fab fa-chrome"></i>&nbsp;
                <span class="d-none d-md-inline-block">Extension</span>
                <sup><span class="badge badge-success">New</span></sup>
            </a>
        </div>
        <div class="content-header-section">
            <a href="https://patreon.com/podnoms"
                target="_blank"
                rel="noopener"
                class="btn btn-dual-secondary">
                <i class="text-danger fab fa-patreon"></i>&nbsp;
                <span class="d-none d-md-inline-block">Patreon</span>
                <sup><span class="badge badge-danger">New</span></sup>
            </a>
        </div>
        <div class="content-header-section">
            <a [routerLink]="['payments/pay', {type:'Free'}]"
                class="btn btn-dual-secondary">
                <i class="text-primary fa fa-beer"></i>&nbsp;
                <span class="d-none d-md-inline-block">Buy me a beer</span>
            </a>
            <a [routerLink]="['payments/pricing']"
                *ngIf="pricingEnabled"
                class="btn btn-dual-secondary">
                <i class="text-primary fa fa-credit-card"></i>&nbsp;
                <span class="d-none d-md-inline-block">Pricing</span>
            </a>
        </div>
        <!-- <app-header-player></app-header-player> -->

        <div class="content-header-section">
            <img [src]="profile.thumbnailImageUrl"
                class="rounded-circle profile-img"
                alt="profile-image">
            <div class="btn-group"
                role="group">
                <button type="button"
                    class="btn btn-rounded btn-dual-secondary"
                    id="page-header-user-dropdown"
                    data-toggle="dropdown"
                    aria-label="Open menue">
                    <span class="d-none d-md-inline-block">
                        {{profile.firstName}}
                        {{profile.lastName}}
                    </span>
                    <i class="fa fa-angle-down ml-5"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right min-width-150">
                    <a class="dropdown-item"
                        [routerLink]="['/profile']">
                        <i class="fa fa-user mr-5"></i>
                        Profile</a>
                    <a class="dropdown-item"
                        *ngIf="profileHasAdmin"
                        [routerLink]="['/admin']">
                        <i class="fa fa-flag mr-5"></i>
                        Admin</a>
                    <a class="dropdown-item"
                        *ngIf="profileHasAdmin"
                        [routerLink]="['/debug']">
                        <i class="fa fa-bug mr-5"></i>
                        Debug</a>
                    <a class="dropdown-item"
                        *ngIf="profileHasAdmin"
                        [routerLink]="['/debug/signalr']">
                        <i class="fa fa-chalkboard-teacher mr-5"></i>
                        SignalR
                    </a>
                    <a class="dropdown-item"
                        *ngIf="profileHasAdmin"
                        (click)="about()">
                        <i class="fas fa-info-circle mr-5"></i>
                        Software Versions
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                        [routerLink]="['/_/privacy']">
                        <i class="fa fas fa-user-shield mr-5"></i>
                        Privacy</a>
                    <a class="dropdown-item"
                        [routerLink]="['/_/terms']">
                        <i class="fa fas fa-balance-scale mr-5"></i>
                        Terms</a>
                    <a class="dropdown-item"
                        [routerLink]="['/_/about']">
                        <i class="fa fas fa-question-circle mr-5"></i>
                        About
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item"
                        [routerLink]="['/profile/opml']">
                        <i class="fa fas fa-rss mr-5"></i>
                        OPML
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                        (click)="logout()">
                        <i class="fa fa-sign-out-alt mr-5"></i>
                        Logout</a>
                </div>
            </div>
            <div class="btn-group"
                role="group"
                *ngIf="profile.hasSubscribed">
                <button type="button"
                    class="btn btn-rounded btn-dual-secondary"
                    id="page-header-notifications"
                    data-toggle="dropdown"
                    title="Payment Info"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="Subscriptions">
                    <i class="text-primary fa fa-shopping-cart swing"
                        [ngClass]="profile.subscriptionValid ? 'text-primary' : 'text-primary'"></i>
                    <!-- <span class="badge badge-primary badge-pill">5</span> -->
                </button>
                <div class="dropdown-menu dropdown-menu-right min-width-300"
                    aria-labelledby="page-header-notifications"
                    x-placement="bottom-end"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-231px, 34px, 0px);">
                    <h5 class="h6 text-center py-10 mb-0 border-b text-uppercase">Payment
                        Log</h5>
                    <ul class="list-unstyled my-20">
                        <li *ngFor="let invoice of invoices$ | async">
                            <a class="text-body-color-dark media mb-15"
                                href="javascript:void(0)">
                                <div class="ml-5 mr-15">
                                    <i class="text-primary fa fa-fw fa-check text-primary"></i>
                                </div>
                                <div class="media-body pr-10">
                                    <p class="mb-0">Payment for
                                        {{invoice.type}}</p>
                                    <p class="mb-0">{{invoice.startDate
                                        | date:'dd/MM/yyyy'}}
                                        to {{invoice.endDate
                                        |date:'dd/MM/yyyy'}}</p>
                                    <div class="text-muted font-size-sm font-italic">{{invoice.createDate
                                        | amFromUtc | amLocal | amTimeAgo}}</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center mb-0"
                        [routerLink]="['profile', {view: 'invoices'}]"
                        href="javascript:void(0)">
                        <i class="text-primary fa fa-flag mr-5"></i> View All
                        Invoices
                    </a>
                </div>
            </div>
            <button type="button"
                class="btn btn-circle btn-dual-secondary"
                title="Activity stream"
                data-toggle="tooltip"
                (click)="toggleOverlay()"
                aria-label="Open activity stream">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </div>
    </div>
    <app-header-search (closeSearch)="searchActive = false"
        *ngIf="searchActive"></app-header-search>
</header>
