<header id="page-header"
    *ngIf="profile$ | async as profile">
    <div class="content-header">
        <div class="content-header-section">
            <button type="button"
                class="btn btn-circle btn-dual-secondary"
                (click)="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="content-header-section">
            <a href="https://facebook.com/podnoms"
                target="_blank"
                class="btn btn-circle btn-dual-secondary btn-facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/podnoms"
                target="_blank"
                class="btn btn-circle btn-dual-secondary btn-twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="content-header-section">
            <a href="https://talk.podnoms.com/"
                target="_blank"
                class="btn btn-dual-secondary">
                <i class="fa fa-life-ring"></i>&nbsp;
                Help & Support
            </a>
        </div>
        <div class="content-header-section">
            <a [routerLink]="['payments/pay', {type:'Free'}]"
                class="btn btn-dual-secondary">
                <i class="fa fa-beer"></i>&nbsp;
                Buy me a beer
            </a>
            <a [routerLink]="['payments/pricing']"
                class="btn btn-dual-secondary">
                <i class="fa fa-credit-card"></i>&nbsp;
                Pricing
            </a>
        </div>
        <div class="content-header-section">
            <img [src]="profile.profileImage"
                class="rounded-circle profile-img">
            <div class="btn-group"
                role="group">
                <button type="button"
                    class="btn btn-rounded btn-dual-secondary"
                    id="page-header-user-dropdown"
                    data-toggle="dropdown">
                    {{profile.firstName}}
                    {{profile.lastName}}
                    <i class="fa fa-angle-down ml-5"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right min-width-150">
                    <a class="dropdown-item"
                        [routerLink]="['/profile']">
                        <i class="fa fa-user mr-5"></i>
                        Profile</a>
                    <a class="dropdown-item"
                        (click)="about()">
                        <i class="fa fa-info mr-5"></i>
                        About</a>
                    <a class="dropdown-item"
                        *ngIf="profileHasAdmin"
                        [routerLink]="['/admin']">
                        <i class="fa fa-flag mr-5"></i>
                        Admin</a>
                    <a class="dropdown-item"
                        (click)="logout()">
                        <i class="fa fa-sign-out-alt mr-5"></i>
                        Logout</a>
                </div>
            </div>
            <div class="btn-group"
                role="group"
                *ngIf="profile.hasSubscribed">
                <button type="button"
                    class="btn btn-rounded btn-dual-secondary"
                    id="page-header-notifications"
                    data-toggle="dropdown"
                    title="Payment Info"
                    aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-shopping-cart swing"
                        [ngClass]="profile.subscriptionValid ? 'text-success' : 'text-danger'"></i>
                    <!-- <span class="badge badge-primary badge-pill">5</span> -->
                </button>
                <div class="dropdown-menu dropdown-menu-right min-width-300"
                    aria-labelledby="page-header-notifications"
                    x-placement="bottom-end"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-231px, 34px, 0px);">
                    <h5 class="h6 text-center py-10 mb-0 border-b text-uppercase">Payment
                        Log</h5>
                    <ul class="list-unstyled my-20">
                        <li *ngFor="let invoice of invoices$ | async">
                            <a class="text-body-color-dark media mb-15"
                                href="javascript:void(0)">
                                <div class="ml-5 mr-15">
                                    <i class="fa fa-fw fa-check text-success"></i>
                                </div>
                                <div class="media-body pr-10">
                                    <p class="mb-0">Payment for
                                        {{invoice.type}}</p>
                                    <p class="mb-0">{{invoice.startDate
                                        | date:'dd/MM/yyyy'}}
                                        to {{invoice.endDate
                                        |date:'dd/MM/yyyy'}}</p>
                                    <div class="text-muted font-size-sm font-italic">{{invoice.createDate
                                        | amTimeAgo}}</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center mb-0"
                        [routerLink]="['profile', {view: 'invoices'}]"
                        href="javascript:void(0)">
                        <i class="fa fa-flag mr-5"></i> View All
                        Invoices
                    </a>
                </div>
            </div>
            <button type="button"
                class="btn btn-circle btn-dual-secondary"
                (click)="toggleOverlay()">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </div>
    </div>
</header>
