<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top navbar-custom">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']">Pod::Noms</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/home']" class="nav-link"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/podcasts']" class="nav-link"><i class="fa fa-podcast"></i> Podcasts</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="false">
                <a [routerLink]="['/debug']" class="nav-link"><i class="fa fa-line-chart"></i> Debug</a>
            </li>
        </ul>
        <ul class="nav navbar-nav my-2 my-lg-0">
            <li *ngIf="!loggedIn()">
                <a *ngIf="!loggedIn()" class="nav-link active" (click)="login()">
                    <i class="fa fa-sign-in"></i> Login
                </a>
            </li>
            <li class="nav-item dropdown" *ngIf="loggedIn()">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="user.picture" alt="user" class="profile-pic"></a>
                <div class="dropdown-menu dropdown-menu-right animated flipInY">
                    <ul class="dropdown-user">
                        <li><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
