<div id="page-container"
    class="main-content-boxed">
    <main id="main-container">
        <div class="bg-body-dark">
            <div class="row mx-0 justify-content-center">
                <div class="hero-static col-xl-5 col-md-8 col-sm-10">
                    <div class="content content-full overflow-hidden">
                        <div class="py-4 text-center">
                            <a class="link-fx fw-bold"
                                href="/">
                                <i class="fa fa-fire"></i>
                                <span class="fs-4 text-body-color">pod</span><span class="fs-4">noms</span>
                            </a>
                            <h1 class="h3 fw-bold mt-4 mb-2">Robot powered podcasts</h1>
                        </div>

                        <div class="block block-themed block-rounded block-fx-shadow">
                            <div class="block-header bg-gd-dusk">
                                <h3 class="block-title">Welcome to PodNoms</h3>
                            </div>
                            <div class="d-flex flex-col justify-content-evenly mt-4">
                                <button type="button"
                                    class="btn btn-block btn-social btn-facebook"
                                    (click)="socialLogin('facebook')">
                                    <span class="fa-brands fa-facebook-f"
                                        aria-label="Sign in with Facebook"></span> Register with Facebook
                                </button>
                                <button type="button"
                                    class="btn btn-block btn-social btn-google"
                                    (click)="socialLogin('google-oauth2')"
                                    aria-label="Sign in with Google">
                                    <span class="fa-brands fa-google"></span> Register with Google
                                </button>
                            </div>
                            <div class="alert alert-danger mx-5 mt-3 text-center"
                                *ngIf="errorMessage"
                                role="alert">
                                <p class="mb-0">
                                    {{errorMessage}}
                                </p>
                            </div>
                            <form [formGroup]="registerForm"
                                (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <div class="form-group col-5">
                                        <label>First Name</label>
                                        <input type="text"
                                            formControlName="firstName"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                        <div *ngIf="submitted && f.firstName.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-5">
                                        <label>Last Name</label>
                                        <input type="text"
                                            formControlName="lastName"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                        <div *ngIf="submitted && f.lastName.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label>Password</label>
                                        <input type="password"
                                            formControlName="password"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label>Confirm Password</label>
                                        <input type="password"
                                            formControlName="confirmPassword"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                        <div *ngIf="submitted && f.confirmPassword.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                            <div *ngIf="f.confirmPassword.errors.matchPassword">Passwords must match</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary mr-1">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
