<div id="page-container"
    class="main-content-boxed">
    <main id="main-container">
        <div class="bg-body-dark">
            <div class="row mx-0 justify-content-center">
                <div class="hero-static col-xl-5 col-md-8 col-sm-10">
                    <div class="content content-full overflow-hidden">
                        <div class="py-4 text-center">
                            <a class="link-fx fw-bold"
                                href="/">
                                <i class="fa fa-fire"></i>
                                <span class="fs-4 text-body-color">pod</span><span class="fs-4">noms</span>
                            </a>
                            <h1 class="h3 fw-bold mt-4 mb-2">Robot powered podcasts</h1>
                        </div>

                        <div class="block block-themed block-rounded block-fx-shadow">
                            <div class="block-header bg-gd-dusk">
                                <h3 class="block-title">Welcome to PodNoms</h3>
                            </div>
                            <div class="d-flex flex-col justify-content-evenly mt-4">
                                <button type="button"
                                    class="btn btn-block btn-social btn-facebook"
                                    (click)="socialLogin('facebook')">
                                    <span class="fa-brands fa-facebook-f"
                                        aria-label="Sign in with Facebook"></span> Register with Facebook
                                </button>
                                <button type="button"
                                    class="btn btn-block btn-social btn-google"
                                    (click)="socialLogin('google-oauth2')"
                                    aria-label="Sign in with Google">
                                    <span class="fa-brands fa-google"></span> Register with Google
                                </button>
                            </div>
                            <div class="alert alert-danger mx-5 mt-3 text-center"
                                *ngIf="errorMessage"
                                role="alert">
                                <p class="mb-0">
                                    {{errorMessage}}
                                </p>
                            </div>
                            <div class="block-content">
                                <form [formGroup]="registerForm"
                                    (ngSubmit)="onSubmit()">
                                    <div class="form-floating mb-4">
                                        <input type="text"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.username.errors}"
                                            autocomplete="username"
                                            formControlName="username"
                                            placeholder="Enter your username">
                                        <label class="form-label">Username</label>
                                        <div *ngIf="submitted && f.username.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Username is required</div>
                                            <div *ngIf="f.username.errors.pattern">Please enter a valid username (Letters, numbers, periods, underscores & hyphens).</div>
                                            <div *ngIf="f.username.errors.taken">This username is already taken</div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="text"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.email.errors}"
                                            autocomplete="email"
                                            formControlName="email"
                                            placeholder="Enter your email">
                                        <label class="form-label">Email</label>
                                        <div *ngIf="submitted && f.email.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Please enter a valid email.</div>
                                            <div *ngIf="f.email.errors.taken">This email is already registered.</div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="password"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.password.errors}"
                                            formControlName="password"
                                            placeholder="Choose a password">
                                        <label class="form-label">Choose a password</label>
                                        <div *ngIf="submitted && f.password.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters.</div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="password"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}"
                                            formControlName="confirmPassword"
                                            placeholder="Enter your password">
                                        <label class="form-label">Confirm password</label>
                                        <div *ngIf="submitted && f.confirmPassword.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">Please confirm your password</div>
                                            <div *ngIf="f.confirmPassword.errors.matchPassword">Passwords do not match.</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2 row">
                                        <ngx-recaptcha2 [siteKey]="environment.recaptchaKey"
                                            formControlName="recaptcha"
                                            #captchaElem>
                                        </ngx-recaptcha2>
                                    </div>
                                    <div *ngIf="submitted && f.recaptcha.errors"
                                        class="text-danger animated fadeIn">
                                        Please verify that you are not a robot
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div>
                                            <i *ngIf="isRequesting"
                                                class="fas fa fa-2x fa-sun-o fa-spin text-warning"></i>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-lg btn-alt-primary fw-medium">
                                            <i class="fa-solid fa-arrow-right-to-bracket"></i> Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
