<div id="page-container"
    class="main-content-boxed">
    <main id="main-container">
        <div class="bg-image"
            style="background-image: url('/assets/img/robothand.jpg'); background-size: 100% 100%;">
            <div class="hero-static content content-full bg-white">
                <div class="py-30 px-5 text-center">
                    <a class="link-effect font-w700">
                        <i class="login-fire"></i>
                        <span class="font-size-xl text-primary-dark">pod</span>
                        <span class="font-size-xl">noms</span>
                    </a>
                    <h1 class="h2 font-w700 mt-50">Robot Powered Podcasts</h1>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="text-center">
                            <div class="form-group row gutters-tiny">
                                <div class="col-sm-6 mb-5">
                                    <button type="button"
                                        class="btn btn-block btn-social btn-facebook"
                                        (click)="socialLogin('facebook')">
                                        <span class="fab fa-facebook"></span> Register with Facebook
                                    </button>
                                </div>
                                <div class="col-sm-6 mb-5">
                                    <button type="button"
                                        class="btn btn-block btn-social btn-google"
                                        (click)="socialLogin('google-oauth2')">
                                        <span class="fab fa-google"></span> Register with Google
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="px-5 text-center">
                    <aside class="text-muted">--or--</aside>
                    <h2 class="h4 font-w400 text-muted mb-0">Please add your details</h2>
                </div>
                <div class="row justify-content-center px-5">
                    <div class="col-md-6 col-md-offset-3">
                        <form class="js-validation-signup"
                            [formGroup]="signupForm"
                            autocomplete="off"
                            (ngSubmit)="doRegister()">
                            <!-- This hooks the autocomplete so it doesn't for our identifier below-->
                            <input type="text"
                                id="username"
                                style="width:0;height:0;visibility:hidden;position:absolute;left:0;top:0" />
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-material">
                                        <label for="identifier">Username</label>
                                        <input type="search"
                                            onfocus="this.removeAttribute('readonly');"
                                            readonly
                                            class="form-control"
                                            id="identifier"
                                            name="identifier"
                                            appAutoFocus
                                            autocomplete="new-identifier"
                                            formControlName="username"
                                            required="">
                                        <div class="form-text text-muted">This is important as it will form part of the URL for your RSS feeds.</div>
                                        <div class="text-danger animated fadeInDown"
                                            *ngIf="username.invalid && username.touched">
                                            <div *ngIf="username.errors['required']">
                                                Username field can't be blank
                                            </div>
                                            <div *ngIf="username.errors['pattern']">
                                                Only letters, numbers, underscore & hyphen are allowed
                                            </div>
                                            <div *ngIf="username.errors['slugTaken']">
                                                This identifier has already been taken
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-material">
                                        <label for="inputEmail">Email</label>
                                        <input type="text"
                                            class="form-control"
                                            id="inputEmail"
                                            formControlName="email"
                                            placeholder="Email">
                                        <div class="text-danger animated fadeInDown"
                                            *ngIf="email.invalid && email.touched">
                                            <div *ngIf="email.errors['required']">
                                                Email field can't be blank
                                            </div>
                                            <div *ngIf="email.errors['pattern']">
                                                The email doesn't seem right
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="passwordGroup">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-material">
                                            <label for="password">Password</label>
                                            <input type="password"
                                                formControlName="password"
                                                id="password"
                                                class="form-control"
                                                placeholder="Password">
                                            <div class="text-danger animated fadeInDown"
                                                *ngIf="password.invalid && password.touched">
                                                <div *ngIf="password.errors['minlength']">
                                                    Password needs to be more than 4 characters
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-material">
                                            <label for="confirmPassword">Confirm Password</label>
                                            <input type="password"
                                                formControlName="confirmPassword"
                                                id="confirmPassword"
                                                class="form-control"
                                                placeholder="Repeat password">
                                            <div class="text-danger animated fadeInDown"
                                                *ngIf="(confirmPassword.invalid || passwordGroup.invalid) && confirmPassword.touched">
                                                <div *ngIf="passwordGroup.errors['matchPassword']">
                                                    Passwords do not match
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 text-center">
                                    <span class="d-inline-block">
                                        <ngx-recaptcha2 [siteKey]="environment.recaptchaKey"
                                            formControlName="recaptcha"
                                            #captchaElem>
                                        </ngx-recaptcha2>
                                    </span>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="alert alert-danger animated fadeInDown"
                                *ngIf="errorMessage"
                                [innerHTML]="errorMessage">
                            </div>
                            <div class="form-group row gutters-tiny">
                                <div class="col-12 mb-10">
                                    <button [disabled]="!signupForm.valid"
                                        type="submit"
                                        class="btn btn-block btn-info">
                                        <i class="si si-user-follow mr-10"></i> Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
