<div *ngIf="podcast$ | async; let podcast; else loading">
    <div *ngIf="!useWizard">
        <form class="needs-validation" [formGroup]="podcastForm" (submit)="updatePodcast()"
              novalidate>
        <div class="block">
                <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#btabs-podcast-details">Podcast
                            details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#btabs-podcast-notifications">Notifications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#btabs-podcast-advanced">Nerd
                            stuff (highly experimental)
                        </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <div class="block-options mr-15 mt-5">
                            <button type="button" class="btn btn-alt-danger" data-toggle="block-option"
                                (click)="podcastDeleteDialog.show()">
                                Delete&nbsp;<i class="fa fa-times"></i></button>
                            <button type="submit" class="btn" data-toggle="block-option"
                                [disabled]="sending || !podcastForm.valid"
                                data-action="fullscreen_toggle">Save&nbsp;
                                <i class="fa fa-save"></i></button>
                        </div>
                    </li>
                </ul>
                <div class="block-content tab-content">
                    <div class="tab-pane" id="btabs-podcast-details" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6 pr-50">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title"
                                        [ngClass]="{ 'is-invalid': !podcastForm.valid && podcastForm.controls.title.invalid }"
                                        placeholder="Podcast title"
                                        formControlName="title" required>
                                    <div class="invalid-feedback">
                                        Title is required
                                    </div>
                                </div>
                                <div class="p-20">
                                    <div class="form-group">
                                        <app-category-selector (id)="'podcast-tags'" [(category)]="category"
                                            [(subcategories)]="subcategories"></app-category-selector>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <quill-editor id="description" name="description" [style]="{height: '400px'}"
                                        formControlName="description"></quill-editor>
                                </div>
                            </div>
                            <div class="col-md-6 pl-50">
                                <div class="row" *ngIf="formImageUrl">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label for="">Cover
                                                Image
                                            </label>
                                            <app-image-upload [imageUrl]="formImageUrl" #imageControl></app-image-upload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active mb-50" id="btabs-podcast-notifications" role="tabpanel">
                        <app-notifications [podcast]="podcast"></app-notifications>
                    </div>
                    <div class="tab-pane mb-50" id="btabs-podcast-advanced" role="tabpanel">
                        <div class="col-md-6" *ngIf="podcast.id">
                            <label for="podcast-slug">Slug</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="podcast-slug" placeholder="Podcast slug"
                                    [ngClass]="{ 'is-invalid': !podcastForm.valid && podcastForm.controls.slug.invalid }"
                                    formControlName="slug" autocomplete="off"
                                    required>
                                <div class="input-group-prepend" *ngIf="false">
                                    <div class="input-group-text">@</div>
                                </div>
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="podcastForm.invalid && podcastForm.controls.slug.invalid">
                                {{podcastForm.controls.slug.errors.message}}
                            </div>
                            <div class="form-text text-muted">This
                                will be the unique URL for your
                                podcast
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="col-md-8">
                                <label for="podcast-domain">Custom
                                    Domain
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="podcast-domain" placeholder="Custom domain name"
                                        [ngClass]="{ 'is-invalid': !podcastForm.valid && podcastForm.controls.customDomain.invalid }"
                                        formControlName="customDomain"
                                        autocomplete="off">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-asterisk"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="invalid-feedback d-block" *ngIf="podcastForm.controls.customDomain.invalid">
                                    {{podcastForm.controls.customDomain.errors.message}}</div>
                                <div class="form-text text-muted">You
                                    need to setup up a CNAME
                                    pointing to rss.podnoms.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" role="document" bsModal #podcastDeleteDialog="bs-modal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Delete this
                                podcast?
                            </h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal"
                                    aria-label="Close" (click)="podcastDeleteDialog.hide()">
                                    <i class="icon icon-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                            <h3 class="mb-20">This operation
                                cannot be undone!
                            </h3>
                            <div class="container-fluid cxt-padded bg-faded">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2 text-md-left text-center">
                                            <img class="modal-podcast-image rounded-circle" [src]="podcast.imageUrl"
                                                alt="Generic placeholder image">
                                        </div>
                                        <div class="col-md-10 text-md-left text-center font-w600">
                                            {{podcast.title}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-20">Deleting this podcast
                                will delete all associated entries
                                and audio with no opportunity
                                to get them back. It will also
                                be removed from any podcast applications
                                subscribed to this feed..
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-alt-secondary" data-dismiss="modal"
                                (click)="podcastDeleteDialog.hide()">No</button>
                            <button type="button" class="btn btn-alt-success" data-dismiss="modal"
                                (click)="deletePodcast(podcast); podcastDeleteDialog.hide()">
                                <i class="fa fa-check"></i> Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="useWizard" class="mx-50">
        <app-podcast-add-wizard [podcast]="podcast" (finish)="updatePodcast(podcast)"
            #wizardControl>
        </app-podcast-add-wizard>
    </div>

</div>
<ng-template #loading>Loading....</ng-template>
