<div *ngIf="podcast$ | async; let podcast; else loading">
    <div *ngIf="!useWizard">
        <form class="needs-validation" [formGroup]="podcastForm" (submit)="updatePodcast()"
            novalidate>
            <div class="block">
                <div class="block-header block-header-default">
                    <h1 class="block-title">Podcast Details</h1>
                    <div class="block-options">
                        <button type="submit" class="btn btn-alt-primary btn-block-option"
                            [disabled]="sending || !podcastForm.valid">
                            <i class="fa fa-check mr-5"></i>
                            {{podcast.id ? 'Update' : 'Add'}} Podcast
                        </button>
                        <div class="dropdown">
                            <button type="button" class="btn-block-option" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                style="position: absolute; transform: translate3d(28px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="block-option"
                                    (click)="podcastDeleteDialog.show()"
                                    data-action="close">
                                    <i class="fa fa-fw fa-times text-danger mr-5"></i>Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-6 p-30 block">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="podcast-title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title"
                                        [ngClass]="{ 'is-invalid': !podcastForm.valid && podcastForm.controls.title.invalid }"
                                        placeholder="Podcast title"
                                        formControlName="title" required>
                                    <div class="invalid-feedback">
                                        Title is required
                                    </div>
                                    <div class="form-text text-muted">Title
                                        for your podcast player
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="podcast-slug">Slug</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="podcast-slug" placeholder="Podcast slug"
                                            [ngClass]="{ 'is-invalid': !podcastForm.valid && podcastForm.controls.slug.invalid }"
                                            formControlName="slug"
                                            autocomplete="off" required>
                                        <div class="input-group-prepend" *ngIf="false">
                                            <div class="input-group-text">@</div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback d-block" *ngIf="podcastForm.invalid && podcastForm.controls.slug.invalid">
                                        {{podcastForm.controls.slug.errors.message}}
                                    </div>
                                    <div class="form-text text-muted">This
                                        will be the unique URL
                                        for your podcast
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group">
                                    <label for="podcast-domain">Custom
                                        Domain
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="podcast-domain" placeholder="Custom domain name"
                                            [ngClass]="{ 'is-invalid': !podcastForm.valid && podcastForm.controls.customDomain.invalid }"
                                            formControlName="customDomain"
                                            autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-asterisk"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback d-block" *ngIf="podcastForm.controls.customDomain.invalid">
                                        {{podcastForm.controls.customDomain.errors.message}}</div>
                                    <div class="form-text text-muted">You
                                        need to setup up a CNAME
                                        pointing to rss.podnoms.com</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="podcast-description">Description</label>
                                <quill-editor name="description" [style]="{height: '400px'}"
                                    formControlName="description"></quill-editor>
                            </div>
                        </div>
                        <div class="col-md-6 p-30" *ngIf="podcast.imageUrl">
                            <div class="form-body">
                                <div class="form-group">
                                    <label for="">Cover Image</label>
                                    <app-image-upload [imageUrl]="podcast.imageUrl" #imageControl></app-image-upload>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="useWizard" class="mx-50">
        <app-podcast-add-wizard [podcast]="podcast" (finish)="updatePodcast(podcast)"
            #wizardControl>
        </app-podcast-add-wizard>
    </div>

</div>
<ng-template #loading>Loading....</ng-template>
