<div id="strength"
     [style.display]="strength >= 0 ? 'inherit': 'none'">
    <div class="progress">
        <div class="progress-bar"
             role="progressbar"
             [style.width.%]="strengthPercentage"
             [class.bg-danger]="strength === 0"
             [class.bg-warning]="strength === 1"
             [class.bg-success]="[2, 3, 4].includes(strength)"
             [attr.aria-valuenow]="strength"
             aria-valuemin="0"
             aria-valuemax="5">
        </div>
    </div>
    <small>{{strengthMessage}}</small>
</div>
