    <div class="block block-notification-item">
        <div class="block-content block-content-full">
            <div class="row align-items-center">
                <div class="col-sm-6 py-10">
                    <h3 class="h5 font-w700 mb-10">
                        <i class="fa text-success mr-5"
                            [ngClass]="getIcon(notification.type)"></i> {{notification.type}}
                    </h3>
                    <p class="font-size-sm text-muted mb-0">
                        Last run: {{lastRunTime}}
                    </p>
                </div>
                <div class="col-sm-6 py-10 text-md-right">
                    <a class="btn btn-sm btn-outline-secondary btn-rounded mr-5 my-5"
                        (click)="editNotification()">
                        <i class="fa fa-wrench mr-1"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-outline-danger btn-rounded mr-5 my-5"
                        (click)="showNotificationDeleteDialog()">
                        <i class="fa fa-times mr-1"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
