<div *ngIf="podcast !== undefined && podcast.podcastEntries !== undefined && podcast.podcastEntries.length !== 0; else empty">

    <div class="row"
        *ngFor="let entry of podcast?.podcastEntries | uniqueId"
        app-podcast-entry-item
        draggable="true"
        (dragstart)="dragStart($event, entry)"
        (entryRemoved)='deleteEntry(entry)'
        (entryUpdated)='updateEntry(entry)'
        [entry]="entry"></div>

</div>
<ng-template #empty>
    <div class="block block-rounded bg-gd-dusk">
        <div class="block-content bg-white-5">
            <div class="py-4 text-center">
                <h1 class="h2 fw-bold text-white mb-2">{{podcast.title}}</h1>
                <h2 class="h5 fw-medium text-white-75">Welcome to your new podcast, let's add some episodes!</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <div class="py-3 text-center">
                        <div class="mb-3">
                            <i class="fa-brands fa-youtube fa-4x text-youtube"></i>
                        </div>
                        <div class="fs-4 fw-semibold">From URL</div>
                        <div class="text-muted">Various online providers.</div>
                        <div class="pt-3">
                            <button class="btn btn-alt-primary"
                                (click)="uploadFromUrl($event)">
                                <i class="fa-solid fa-cloud-download-alt opacity-50 me-1"></i> Add from URL
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <div class="py-3 text-center">
                        <div class="mb-3">
                            <i class="fa-brands fa-dropbox fa-4x text-info"></i>
                        </div>
                        <div class="fs-4 fw-semibold">From Provider</div>
                        <div class="text-muted">Click 👇 to see!</div>
                        <div class="pt-3">
                            <div ngbDropdown
                                class="d-inline-block">
                                <button type="button"
                                    class="btn btn-alt-info "
                                    id="dropdown-providers"
                                    ngbDropdownToggle>
                                    <i class="fa fa-users opacity-50 me-1"></i>
                                    Add from provider
                                </button>
                                <div ngbDropdownMenu
                                    aria-labelledby="dropdown-providers">
                                    <button ngbDropdownItem
                                        (click)="uploadProvider(UPLOADMODE.fromGoogleDrive)">
                                        <i class="fa-brands fa-google-drive opacity-50 me-1"></i>
                                        Google Drive
                                    </button>
                                    <button ngbDropdownItem
                                        (click)="uploadProvider(UPLOADMODE.fromDropbox)">
                                        <i class="fa-brands fa-dropbox opacity-50 me-1"></i>
                                        Dropbox
                                    </button>
                                </div>
                            </div>
                            <!-- <div ngbDropdown
                                role="group">
                                <button class="btn btn-alt-info dropdown-toggle"
                                    href="javascript:void(0)">
                                    <i class="fa fa-users opacity-50 me-1"></i> Add from provider
                                </button>
                                <div ngbDropdownMenu
                                    aria-labelledby="btnGroupDrop1">
                                    <a ngbDropdownItem
                                        href="javascript:void(0)">
                                        <i class="fa fa-fw fa-bell opacity-50 me-1"></i>News
                                    </a>
                                    <a ngbDropdownItem
                                        href="javascript:void(0)">
                                        <i class="fa fa-fw fa-envelope opacity-50 me-1"></i>Messages
                                    </a>
                                    <a ngbDropdownItem
                                        href="javascript:void(0)">
                                        <i class="fa fa-fw fa-pencil-alt opacity-50 me-1"></i>Edit Profile
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <div class="py-3 text-center">
                        <div class="mb-3">
                            <i class="fa-solid fa-upload fa-4x text-info"></i>
                        </div>
                        <div class="fs-4 fw-semibold">From file</div>
                        <div class="text-muted">Choose a file from your PC</div>
                        <div class="pt-3">
                            <button class="btn btn-alt-success"
                                (click)="uploadFromFile($event)">
                                <i class="fa fa-arrow-up opacity-50 me-1"></i> Upload file
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #loading>
    <app-loader [loadingText]="'Loading....'">
    </app-loader>
</ng-template>
