.fa-twitter {
    color: #00acee !important;
}
.fa-facebook {
    color: #3b5998 !important;
}
.fa-slack {
    color: #3f0e40 !important;
}
.fa-ifttt {
    color: #ff2d55 !important;
}
.fa-pushbullet {
    color: #4ab367 !important;
}
.fa-webhook {
    color: #aad6fa !important;
}
