.modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.modal-content {
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
}