<div>
    <div class="peeper-container">
        <div class="peeper-mask gray"
            [style.width.px]="overlayProperties.width"
            [style.height.px]="overlayProperties.height"
            [style.position]="overlayProperties.position"
            [style.borderRadius]="overlayProperties.borderRadius"
            style="opacity: 1;">
        </div>
        <input #maskInput
            type="text"
            class="form-control"
            name="maskInput"
            [value]="secret.plainTextKey">
        <span class="fa fa-copy peeper-copy-pass"
            *ngIf="secret.plainTextKey"
            data-toggle="tooltip"
            title="Copy secret to clipboard"
            (click)="copySecret()"></span>
        <span class="fa fa-redo-alt peeper-keyhole"
            data-toggle="tooltip"
            title="Re-generate secret"
            (click)="recreateSecret()"></span>
        <div *ngIf="secret.plainTextKey"
            class="form-text text-danger">
            You have 20 seconds to copy this key, it will never be displayed again
        </div>
    </div>
</div>
