<div class="block">
    <div class="block-header">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                [(ngModel)]="podcast.private" id="isPrivate"
                name="isPrivate">
            <label class="custom-control-label" for="isPrivate">Private?</label>
        </div>
    </div>
    <div class="block-content" *ngIf="podcast.private">
        <div class="form-group row">
            <div class="col-12">
                <label for="signup-username">Username</label>
                <input type="text" class="form-control" id="signup-username"
                    autocomplete="off" [(ngModel)]="podcast.authUserName"
                    name="signup-username" placeholder="eg: john_smith">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <label for="authPassword">Password</label>
                <input type="password" class="form-control"
                    autocomplete="off" [(ngModel)]="podcast.authPassword"
                    id="authPassword" name="authPassword"
                    placeholder="********">
            </div>
        </div>
        <div class="form-group row mb-0">
            <div class="col-mb-2">
                <button (click)="updatePrivacySettings()"
                    class="btn btn-alt-success">
                    <i class="fa fa-plus mr-10"></i> Update
                    privacy settings
                </button>
            </div>
            <div class="col-md-10">
                <h5>
                    Passwords are stored
                    securely using current best practices,
                    however most podcast clients will send
                    your
                    password in the clear, so don't use
                    passwords you use for other services.
                </h5>
            </div>
        </div>
    </div>
</div>
