<div class="row">
    <div class="col-md-7 pr-50">
        <div class="form-group row">
            <div class="col-12">
                <label for="public-title">Public title</label>
                <input class="form-control form-control-lg"
                    [(ngModel)]="podcast.publicTitle"
                    id="public-title"
                    name="public-title"
                    placeholder="Enter title for public podcast page.."
                    type="text">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <label for="twitter-page">Twitter page</label>
                <input class="form-control form-control-lg"
                    [(ngModel)]="podcast.twitterUrl"
                    id="twitter-page"
                    name="twitter-page"
                    placeholder="Enter the URL of the Twitter page for this podcast.."
                    type="text">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <label for="facebook-page">Facebook page</label>
                <input class="form-control form-control-lg"
                    [(ngModel)]="podcast.facebookUrl"
                    id="facebook-page"
                    name="facebook-page"
                    placeholder="Enter the URL of the Facebook page for this podcast.."
                    type="text">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="block">
            <div class="block-header">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input"
                        [(ngModel)]="podcast.private"
                        id="isPrivate"
                        name="isPrivate"
                        type="checkbox"><label class="custom-control-label"
                        for="isPrivate">Private?</label>
                </div>
            </div>
            <div class="block-content"
                *ngIf="podcast.private">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="signup-username">Username</label>
                        <input type="text"
                            class="form-control"
                            id="signup-username"
                            autocomplete="off"
                            [(ngModel)]="podcast.authUserName"
                            name="signup-username"
                            placeholder="eg: john_smith">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label for="authPassword">Password</label>
                        <input type="password"
                            class="form-control"
                            autocomplete="off"
                            [(ngModel)]="podcast.authPassword"
                            id="authPassword"
                            name="authPassword"
                            placeholder="********">
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <!-- <div class="col-mb-2">
                        <button (click)="updatePrivacySettings()"
                            class="btn btn-alt-success">
                            <i class="fa fa-plus mr-10"></i> Update
                            privacy settings
                        </button>
                    </div> -->
                    <div class="col-md-10">
                        <h5>
                            Passwords are stored
                            securely using current best practices,
                            however most podcast clients will send
                            your
                            password in the clear, so don't use
                            passwords you use for other services.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="form-group row">
    <div class="col-md-12">
        <button class="btn btn-alt-primary"
            type="submit"
            (click)="saveSettings()">
            <span class="d-none d-md-inline-block">
                <i class="fa fa-save"></i>&nbsp;Save
            </span>
        </button>
    </div>
</div>
