<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">{{entry.title}}</h3>
        <div class="block-options">
            <button type="button"
                class="btn-block-option"
                data-toggle="tooltip"
                title="Share to facebook"
                (click)="share('facebook')"
                aria-label="Share to facebook">
                <i class="fa-brands fa-facebook"></i>
            </button>
            <button type="button"
                class="btn-block-option"
                data-toggle="tooltip"
                title="Share to twitter"
                (click)="share('twitter')"
                aria-label="Share to Twitter">
                <i class="fa-brands fa-twitter"></i>
            </button>
            <button type="button"
                class="btn btn-block-option"
                data-toggle="tooltip"
                title="Close"
                (click)="closeModal()"
                aria-label="Close">
                <i class="fa fa-times-circle"></i>
            </button>
        </div>
    </div>
    <div class="block-content">
        <form>
            <div class="mb-4">
                <div class="input-group">
                    <input type="email"
                        class="form-control"
                        #emailAddress
                        [(ngModel)]="email"
                        id="email"
                        name="email"
                        placeholder="Enter an email address to share with..">
                    <span class="input-group-text">
                        <i class="far fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="mb-4">
                <textarea class="form-control"
                    [(ngModel)]="message"
                    rows="7"
                    placeholder="Enter a message for recipient.."></textarea>
            </div>

            <div class="mb-4">
                <div *ngIf="error"
                    class="text-danger  animated fadeIn">{{error}}</div>
            </div>
            <!-- <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="email"
                            #emailAddress
                            [(ngModel)]="email"
                            class="form-control"
                            placeholder="Email address"
                            id="email"
                            name="email">
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="form-material floating">
                                <textarea class="form-control"
                                    [(ngModel)]="message"
                                    id="message"
                                    name="message"
                                    rows="8"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12"
                    *ngIf="!email">
                    <button type="button"
                        *ngIf="linkUrl && false"
                        data-toggle="tooltip"
                        title="Link settings"
                        (click)="linkSettings(linkUrl)"
                        class="btn btn-sm btn-circle btn-alt-secondary mr-5 mb-5"
                        aria-label="Link settings">
                        <i class="fa fa-cog"></i>
                    </button>
                    <button type="button"
                        *ngIf="linkUrl"
                        data-toggle="tooltip"
                        title="Open link"
                        (click)="openUrl(linkUrl)"
                        class="btn btn-sm btn-circle btn-alt-secondary mr-5 mb-5"
                        aria-label="Open URL">
                        <i class="fa fa-external-link-alt"></i>
                    </button>
                    <button type="button"
                        *ngIf="linkUrl"
                        data-toggle="tooltip"
                        title="Copy link"
                        (click)="copyUrl(linkUrl)"
                        class="btn btn-sm btn-circle btn-alt-secondary mr-5 mb-5"
                        aria-label="Copy link">
                        <i class="fa fa-copy"></i>
                    </button>

                    <span *ngIf="!linkUrl"
                        class="mr-10">No link created</span>
                    <span *ngIf="linkUrl"
                        class="mr-10">{{linkUrl}}</span>

                    <app-spinner-button [iconClass]="'fas fa fa-link'"
                        [buttonClass]="'btn btn-alt-primary float-right'"
                        (clicked)="getSharingLink($event)">
                        Create link
                    </app-spinner-button>

                </div>
                <div class="col-12"
                    *ngIf="email">
                    <button type="submit"
                        class="btn btn-alt-primary float-right"
                        (click)="shareToEmail()"
                        aria-label="Share via email">Share</button>
                </div>
            </div> -->
        </form>
    </div>
    <div class="block-content block-content-full border-top d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <app-spinner-button *ngIf="!linkUrl"
                [iconClass]="'fas fa fa-link'"
                [buttonClass]="'btn btn-alt-primary'"
                (clicked)="getSharingLink($event)">
                Create link
            </app-spinner-button>
            <span *ngIf="linkUrl"
                class="me-2 pt-1">
                <a [href]="linkUrl"
                    target="_blank">{{linkUrl}}</a>
            </span>
            <div class="btn-group">
                <button type="button"
                    *ngIf="linkUrl"
                    data-toggle="tooltip"
                    title="Copy link"
                    (click)="copyUrl(linkUrl)"
                    class="btn btn-sm  btn-alt-secondary"
                    aria-label="Copy link">
                    <i class="fa fa-copy"></i>
                </button>
                <button type="button"
                    class="btn btn-sm  btn-alt-secondary"
                    *ngIf="linkUrl"
                    data-toggle="tooltip"
                    title="Open link"
                    (click)="openUrl(linkUrl)"
                    aria-label="Open URL">
                    <i class="fa fa-external-link-alt"></i>
                </button>
            </div>
        </div>
        <button class="btn btn-alt-danger"
            (click)="shareToEmail()">
            <i class="fa-solid fa-share-from-square me-1"></i>Share
        </button>
    </div>
</div>
