@use "../bootstrap/mixins/breakpoints";
@use "variables";

//
// Grid
// --------------------------------------------------

// Tiny grid gutters
.row.g-sm {
  --bs-gutter-x: #{variables.$space-row-gutter-tiny};

  > .col,
  > [class*="col-"] {
    padding-left: variables.$space-row-gutter-tiny * .5;
    padding-right: variables.$space-row-gutter-tiny  * .5;
  }

  .push,
  .block,
  &.items-push > div {
    margin-bottom: variables.$space-row-gutter-tiny;
  }
}

// Responsive grid gutters
@include breakpoints.media-breakpoint-down(md) {
  .row:not(.g-sm):not(.g-0) {
    --bs-gutter-x: #{variables.$space-mobile};

    > .col,
    > [class*="col-"] {
      padding-left: variables.$space-mobile * .5;
      padding-right: variables.$space-mobile * .5;
    }
  }
}
