@use "sass:color";
@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/variables" as bootstrap-variables;
@use "mixins/content";
@use "variables" as codebase-variables;

//
// Layout
// --------------------------------------------------

// Main Structure
#page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#page-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(color.adjust(bootstrap-variables.$primary, $lightness: -45%), .4);
  background: linear-gradient(to right, rgba(color.adjust(bootstrap-variables.$primary, $lightness: -45%),0), rgba(color.adjust(bootstrap-variables.$primary, $lightness: -45%),.6));
  z-index: codebase-variables.$zindex-page-overlay;
  opacity: 0;
  transition: opacity codebase-variables.$side-transition, transform codebase-variables.$side-transition;
  transform: translateX(100%);

  .sidebar-r & {
    background: linear-gradient(to right, rgba(color.adjust(bootstrap-variables.$primary, $lightness: -45%),.6), rgba(color.adjust(bootstrap-variables.$primary, $lightness: -45%),0));
    transform: translateX(-100%);
  }

  @include breakpoints.media-breakpoint-up(lg) {
    .side-overlay-o.enable-page-overlay & {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 100%;
}

// Main Content
.content {
  @include content.content-layout(codebase-variables.$space-mobile, codebase-variables.$space-mobile);

  @include breakpoints.media-breakpoint-up(md) {
    @include content.content-layout(codebase-variables.$space-base, codebase-variables.$space-base);
  }

  @include breakpoints.media-breakpoint-up(xl) {
    &.content-narrow { width: codebase-variables.$space-narrow; }
  }

  &.content-boxed { max-width: codebase-variables.$space-boxed; }

  &.content-top {
    padding-top: codebase-variables.$header-height + codebase-variables.$space-mobile;

    @include breakpoints.media-breakpoint-up(lg) {
      padding-top: codebase-variables.$header-height + codebase-variables.$space-base;
    }
  }
}

.content-section-top {
  padding-top: codebase-variables.$header-height;
}

.content-max-width {
  max-width: codebase-variables.$space-main-max-width;
}

// Side Content
.content-side {
  @include content.content-layout(codebase-variables.$space-side, codebase-variables.$space-side, hidden);

  &.content-side-user {
    display: flex;
    align-items: center;
    min-height: 9rem;
    background-color: codebase-variables.$body-bg-light;
  }
}

.sidebar-dark .content-side.content-side-user {
  background-color: color.adjust(codebase-variables.$sidebar-dark-bg, $lightness: -2.5%);
}
