@use "variables";
@use "variables-bootstrap";

//
// Pagination
// --------------------------------------------------

.page-link {
  font-weight: variables-bootstrap.$font-weight-semibold;

  &:focus {
    background-color: variables.$body-bg-dark;
    border-color: variables.$body-bg-dark;
  }
}