@use "../bootstrap/mixins/transition";
@use "../bootstrap/variables";

//
// Transitions
// --------------------------------------------------

.fade {
  @include transition.transition(variables.$transition-fade);

  &.fade-up,
  &.fade-right,
  &.fade-left {
    @include transition.transition(opacity .25s ease-out, transform .25s ease-out);
  }

  &.fade-up:not(.show) {
    transform: translateY(100px);
  }

  &.fade-right:not(.show) {
    transform: translateX(-100px);
  }

  &.fade-left:not(.show) {
    transform: translateX(100px);
  }
}
