@use "../bootstrap/mixins/breakpoints";
@use "../bootstrap/variables" as bootstrap-variables;
@use "variables" as codebase-variables;
@use "variables-bootstrap";

//
// Typography
// --------------------------------------------------

.content-heading {
  margin-bottom: codebase-variables.$space-mobile;
  padding-top: 2rem;
  padding-bottom: .5rem;
  font-size: 1.125rem;
  font-weight: variables-bootstrap.$font-weight-medium;
  line-height: 1.75;
  border-bottom: 1px solid codebase-variables.$body-bg-dark;

  small {
    margin-top: .25rem;
    font-size: 1rem;
    font-weight: bootstrap-variables.$font-weight-normal;
    color: bootstrap-variables.$gray-600;
  }

  @include breakpoints.media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
    padding-top: 2.5rem;

    small {
      margin-top: 0;
    }
  }

  .block-content > &:first-child,
  .content > &:first-child {
    padding-top: 0 !important;
  }

  .dropdown {
    line-height: bootstrap-variables.$line-height-base;
  }
}

// Emphasis
small,
.small {
  font-weight: inherit;
}

// Transformations
.text-uppercase {
  letter-spacing: .0625em;
}
