@use "sass:color";
@use "../bootstrap/functions";
@use "../bootstrap/variables" as bootstrap-variables;
@use "variables";

//
// Codebase themes variables
// --------------------------------------------------

// Elegance Theme
$theme-elegance-primary:                    #8f55f2 !default;
$theme-elegance-light:                      color.adjust($theme-elegance-primary, $lightness: 14%) !default;
$theme-elegance-lighter:                    color.adjust($theme-elegance-primary, $lightness: 26%) !default;
$theme-elegance-dark:                       functions.shade-color(bootstrap-variables.$gray-700, 5%) !default;
$theme-elegance-darker:                     functions.shade-color(bootstrap-variables.$gray-900, 5%) !default;

$theme-elegance-body-bg:                    #f1f0f5 !default;
$theme-elegance-body-bg-dark:               color.adjust($theme-elegance-body-bg, $lightness: -4%) !default;
$theme-elegance-body-bg-light:              color.adjust($theme-elegance-body-bg, $lightness: 2%) !default;

$theme-elegance-body-color:                 bootstrap-variables.$body-color !default;
$theme-elegance-body-color-dark:            variables.$body-color-dark !default;
$theme-elegance-body-color-light:           $theme-elegance-body-bg-dark !default;

$theme-elegance-link-color:                 $theme-elegance-primary !default;
$theme-elegance-link-hover-color:           color.adjust($theme-elegance-primary, $lightness: -20%) !default;

$theme-elegance-headings-color:             $theme-elegance-body-color-dark !default;

$theme-elegance-input-btn-focus-color:      rgba($theme-elegance-primary, .25) !default;
$theme-elegance-input-btn-focus-box-shadow: 0 0 0 bootstrap-variables.$input-btn-focus-width $theme-elegance-input-btn-focus-color !default;

$theme-elegance-input-bg:                   bootstrap-variables.$white !default;
$theme-elegance-input-color:                $theme-elegance-body-color !default;
$theme-elegance-input-border-color:         color.adjust($theme-elegance-body-bg-dark, $lightness: -5%) !default;

$theme-elegance-input-focus-bg:             bootstrap-variables.$white !default;
$theme-elegance-input-focus-color:          $theme-elegance-body-color-dark !default;
$theme-elegance-input-focus-border-color:   color.adjust($theme-elegance-body-bg-dark, $lightness: 25%) !default;

$theme-elegance-header-bg:                  bootstrap-variables.$white !default;
$theme-elegance-header-dark-bg:             functions.shade-color(bootstrap-variables.$gray-800, 7.5%) !default;
$theme-elegance-sidebar-bg:                 bootstrap-variables.$white !default;
$theme-elegance-sidebar-dark-bg:            functions.shade-color(bootstrap-variables.$gray-800, 7.5%) !default;
$theme-elegance-side-overlay-bg:            bootstrap-variables.$white !default;


// Pulse Theme
$theme-pulse-primary:                       #db3f3f !default;
$theme-pulse-light:                         color.adjust($theme-pulse-primary, $lightness: 14%) !default;
$theme-pulse-lighter:                       color.adjust($theme-pulse-primary, $lightness: 32%) !default;
$theme-pulse-dark:                          #393939 !default;
$theme-pulse-darker:                        #252525 !default;

$theme-pulse-body-bg:                       #f2f2f2 !default;
$theme-pulse-body-bg-dark:                  color.adjust($theme-pulse-body-bg, $lightness: -4%) !default;
$theme-pulse-body-bg-light:                 color.adjust($theme-pulse-body-bg, $lightness: 2%) !default;

$theme-pulse-body-color:                    bootstrap-variables.$body-color !default;
$theme-pulse-body-color-dark:               variables.$body-color-dark !default;
$theme-pulse-body-color-light:              $theme-pulse-body-bg-dark !default;

$theme-pulse-link-color:                    $theme-pulse-primary !default;
$theme-pulse-link-hover-color:              color.adjust($theme-pulse-primary, $lightness: -20%) !default;

$theme-pulse-headings-color:                $theme-pulse-body-color-dark !default;

$theme-pulse-input-btn-focus-color:         rgba($theme-pulse-primary, .25) !default;
$theme-pulse-input-btn-focus-box-shadow:    0 0 0 bootstrap-variables.$input-btn-focus-width $theme-pulse-input-btn-focus-color !default;

$theme-pulse-input-bg:                      bootstrap-variables.$white !default;
$theme-pulse-input-color:                   $theme-pulse-body-color !default;
$theme-pulse-input-border-color:            color.adjust($theme-pulse-body-bg-dark, $lightness: -5%) !default;

$theme-pulse-input-focus-bg:                bootstrap-variables.$white !default;
$theme-pulse-input-focus-color:             $theme-pulse-body-color-dark !default;
$theme-pulse-input-focus-border-color:      color.adjust($theme-pulse-body-bg-dark, $lightness: 25%) !default;

$theme-pulse-header-bg:                     bootstrap-variables.$white !default;
$theme-pulse-header-dark-bg:                $theme-pulse-dark !default;
$theme-pulse-sidebar-bg:                    bootstrap-variables.$white !default;
$theme-pulse-sidebar-dark-bg:               $theme-pulse-dark !default;
$theme-pulse-side-overlay-bg:               bootstrap-variables.$white !default;


// Flat Theme
$theme-flat-primary:                        #36b3a0 !default;
$theme-flat-light:                          color.adjust($theme-flat-primary, $lightness: 14%) !default;
$theme-flat-lighter:                        color.adjust($theme-flat-primary, $lightness: 32%) !default;
$theme-flat-dark:                           functions.tint-color(#0b2830, 6%) !default;
$theme-flat-darker:                         #0b2830 !default;

$theme-flat-body-bg:                        #f2f5f5 !default;
$theme-flat-body-bg-dark:                   color.adjust($theme-flat-body-bg, $lightness: -4%) !default;
$theme-flat-body-bg-light:                  color.adjust($theme-flat-body-bg, $lightness: 2%) !default;

$theme-flat-body-color:                     bootstrap-variables.$body-color !default;
$theme-flat-body-color-dark:                variables.$body-color-dark !default;
$theme-flat-body-color-light:               $theme-flat-body-bg-dark !default;

$theme-flat-link-color:                     $theme-flat-primary !default;
$theme-flat-link-hover-color:               color.adjust($theme-flat-primary, $lightness: -20%) !default;

$theme-flat-headings-color:                 $theme-flat-body-color-dark !default;

$theme-flat-input-btn-focus-color:         rgba($theme-flat-primary, .25) !default;
$theme-flat-input-btn-focus-box-shadow:    0 0 0 bootstrap-variables.$input-btn-focus-width $theme-flat-input-btn-focus-color !default;

$theme-flat-input-bg:                      bootstrap-variables.$white !default;
$theme-flat-input-color:                   $theme-flat-body-color !default;
$theme-flat-input-border-color:            color.adjust($theme-flat-body-bg-dark, $lightness: -5%) !default;

$theme-flat-input-focus-bg:                bootstrap-variables.$white !default;
$theme-flat-input-focus-color:             $theme-flat-body-color-dark !default;
$theme-flat-input-focus-border-color:      color.adjust($theme-flat-body-bg-dark, $lightness: 25%) !default;

$theme-flat-header-bg:                      bootstrap-variables.$white !default;
$theme-flat-header-dark-bg:                 $theme-flat-dark !default;
$theme-flat-sidebar-bg:                     bootstrap-variables.$white !default;
$theme-flat-sidebar-dark-bg:                $theme-flat-dark !default;
$theme-flat-side-overlay-bg:                bootstrap-variables.$white !default;


// Corporate Theme
$theme-corporate-primary:                   #2facb2 !default;
$theme-corporate-light:                     color.adjust($theme-corporate-primary, $lightness: 15%) !default;
$theme-corporate-lighter:                   color.adjust($theme-corporate-primary, $lightness: 36%) !default;
$theme-corporate-dark:                      #323d4c !default;
$theme-corporate-darker:                    #252d38 !default;

$theme-corporate-body-bg:                   #f2f5f5 !default;
$theme-corporate-body-bg-dark:              color.adjust($theme-corporate-body-bg, $lightness: -4%) !default;
$theme-corporate-body-bg-light:             color.adjust($theme-corporate-body-bg, $lightness: 2%) !default;

$theme-corporate-body-color:                bootstrap-variables.$body-color !default;
$theme-corporate-body-color-dark:           variables.$body-color-dark !default;
$theme-corporate-body-color-light:          $theme-corporate-body-bg-dark !default;

$theme-corporate-link-color:                $theme-corporate-primary !default;
$theme-corporate-link-hover-color:          color.adjust($theme-corporate-primary, $lightness: -20%) !default;

$theme-corporate-headings-color:            $theme-corporate-body-color-dark !default;

$theme-corporate-input-btn-focus-color:         rgba($theme-corporate-primary, .25) !default;
$theme-corporate-input-btn-focus-box-shadow:    0 0 0 bootstrap-variables.$input-btn-focus-width $theme-corporate-input-btn-focus-color !default;

$theme-corporate-input-bg:                      bootstrap-variables.$white !default;
$theme-corporate-input-color:                   $theme-corporate-body-color !default;
$theme-corporate-input-border-color:            color.adjust($theme-corporate-body-bg-dark, $lightness: -5%) !default;

$theme-corporate-input-focus-bg:                bootstrap-variables.$white !default;
$theme-corporate-input-focus-color:             $theme-corporate-body-color-dark !default;
$theme-corporate-input-focus-border-color:      color.adjust($theme-corporate-body-bg-dark, $lightness: 25%) !default;

$theme-corporate-header-bg:                 bootstrap-variables.$white !default;
$theme-corporate-header-dark-bg:            $theme-corporate-dark !default;
$theme-corporate-sidebar-bg:                bootstrap-variables.$white !default;
$theme-corporate-sidebar-dark-bg:           $theme-corporate-dark !default;
$theme-corporate-side-overlay-bg:           bootstrap-variables.$white !default;


// Earth Theme
$theme-earth-primary:                       #32a67f !default;
$theme-earth-light:                         color.adjust($theme-earth-primary, $lightness: 16%) !default;
$theme-earth-lighter:                       color.adjust($theme-earth-primary, $lightness: 40%) !default;
$theme-earth-dark:                          #343434 !default;
$theme-earth-darker:                        #222 !default;

$theme-earth-body-bg:                       #f2f2f2 !default;
$theme-earth-body-bg-dark:                  color.adjust($theme-earth-body-bg, $lightness: -4%) !default;
$theme-earth-body-bg-light:                 color.adjust($theme-earth-body-bg, $lightness: 2%) !default;

$theme-earth-body-color:                    bootstrap-variables.$body-color !default;
$theme-earth-body-color-dark:               variables.$body-color-dark !default;
$theme-earth-body-color-light:              $theme-earth-body-bg-dark !default;

$theme-earth-link-color:                    $theme-earth-primary !default;
$theme-earth-link-hover-color:              color.adjust($theme-earth-primary, $lightness: -20%) !default;

$theme-earth-headings-color:                $theme-earth-body-color-dark !default;

$theme-earth-input-btn-focus-color:         rgba($theme-earth-primary, .25) !default;
$theme-earth-input-btn-focus-box-shadow:    0 0 0 bootstrap-variables.$input-btn-focus-width $theme-earth-input-btn-focus-color !default;

$theme-earth-input-bg:                      bootstrap-variables.$white !default;
$theme-earth-input-color:                   $theme-earth-body-color !default;
$theme-earth-input-border-color:            color.adjust($theme-earth-body-bg-dark, $lightness: -5%) !default;

$theme-earth-input-focus-bg:                bootstrap-variables.$white !default;
$theme-earth-input-focus-color:             $theme-earth-body-color-dark !default;
$theme-earth-input-focus-border-color:      color.adjust($theme-earth-body-bg-dark, $lightness: 25%) !default;

$theme-earth-header-bg:                     bootstrap-variables.$white !default;
$theme-earth-header-dark-bg:                $theme-earth-dark !default;
$theme-earth-sidebar-bg:                    bootstrap-variables.$white !default;
$theme-earth-sidebar-dark-bg:               $theme-earth-dark !default;
$theme-earth-side-overlay-bg:               bootstrap-variables.$white !default;
