<ng-template #content let-modal>
    <div class="block block-themed block-transparent mb-0">
        <div class="block-header bg-primary-dark">
            <h3 class="block-title">{{notification.type}}</h3>
            <div class="block-options">
                <button type="button" class="btn-block-option"
                    (click)="modal.dismiss('cancel')"
                    data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times-circle"></i>
                </button>
            </div>
        </div>
        <div class="block-content">
            <ul class="nav nav-tabs nav-tabs-alt"
                data-toggle="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                        href="#tab-settings">Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"
                        href="#tab-logs">Logs
                    </a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" data-toggle="tab"
                        href="#tab-test">
                        <i class="fas fa-school"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-15">
                <div class="tab-pane active block block-themed"
                    id="tab-settings">
                    <div class="block-header">
                        <div class="font-w600 mb-5">There
                            is no
                            validation here (yet) -
                            it's up
                            to you to ensure the data
                            are
                            correct.</div>
                    </div>
                    <div class="block-content">
                        <form *ngIf="form" [formGroup]="form">
                            <div *ngFor="let question of notification.options">
                                <div class="form-group"
                                    [formGroup]="form">
                                    <label [attr.for]="question.key">{{question.label}}</label>
                                    <div [ngSwitch]="question.controlType">
                                        <input class="form-control"
                                            *ngSwitchCase="'textbox'"
                                            [formControlName]="question.key"
                                            [id]="question.key"
                                            [type]="question.controlType">
                                    </div>
                                    <div class="errorMessage">{{question.description}}</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="tab-logs">
                    <app-notification-logs [notification]="notification"></app-notification-logs>
                </div>
                <div class="tab-pane" id="tab-test">
                    <button class="btn btn-alt-primary" (click)="testNotification()">Test</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer">
            <button type="button" class="btn btn-alt-secondary"
                (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" class="btn btn-alt-success"
                (click)="modal.dismiss('save')">
                <i class="fa fa-check"></i>
                Save
            </button>
        </div>
    </div>
</ng-template>
