<app-upload-url *ngIf="uploadMode===uploadModes.fromUrl"
                [podcast]="podcast"
                (playlistAdded)="processPlaylist($event)"
                (entryCreateComplete)="onEntryCreateComplete($event)">
</app-upload-url>
<app-upload-file *ngIf="uploadMode===uploadModes.fromLocalFile"
                 [podcast]="podcast"
                 (uploadComplete)="onEntryCreateComplete($event)">
</app-upload-file>
<app-upload-dropbox *ngIf="uploadMode===uploadModes.fromDropbox"
                    [podcast]="podcast"
                    (entryCreateComplete)="onEntryCreateComplete($event)">
</app-upload-dropbox>
<app-upload-gdrive *ngIf="uploadMode===uploadModes.fromGoogleDrive"
                    [podcast]="podcast"
                    (entryCreateComplete)="onEntryCreateComplete($event)">
</app-upload-gdrive>
