<div class="p-3 mb-4 border shadow shadow-sm">
    <app-upload-url [podcast]="podcast"
        *ngIf="uploadMode===UPLOADMODE.fromUrl"
        (playlistAdded)="processPlaylist()"
        (entryCreateComplete)="onEntryCreateComplete($event)">
    </app-upload-url>
    <app-upload-file *ngIf="uploadMode===UPLOADMODE.fromLocalFile"
        [podcast]="podcast"
        (uploadComplete)="onEntryCreateComplete($event)">
    </app-upload-file>

    <app-upload-dropbox *ngIf="uploadMode===UPLOADMODE.fromDropbox"
        [podcast]="podcast"
        (entryCreateComplete)="onEntryCreateComplete($event)">
    </app-upload-dropbox>
    <app-upload-gdrive *ngIf="uploadMode===UPLOADMODE.fromGoogleDrive"
        [podcast]="podcast"
        (entryCreateComplete)="onEntryCreateComplete($event)">
    </app-upload-gdrive>
</div>
