<div class="bg-image">
    <div class="bg-primary-dark-op">
        <div class="content content-top text-center overflow-hidden">
            <div class="pt-50 pb-20">
                <h1 class="font-w700 text-white mb-10">Robot Powered Podcasts</h1>
                <h2 class="h4 font-w400 text-white-op">Customised podcasts from any source (YouTube, Soundcloud, Mixcloud, mp3)</h2>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="jumbotron">
    <h2>
        <span>Robot powered podcasts</span>
    </h2>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                
            </div>
        </div>
    </div>
</div> -->