.jumbotron {
    margin-top: -24px; /*Urgh*/
    background: url('../../../assets/images/robothand.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    color: white;
    text-shadow: #444 0 1px 1px;
}
