.jumbotron {
    background: url('../../../assets/img/robothand.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 220px;
}
.jumbotron > h2 {
    padding-top: 88px;
    padding-left: 88px;
    color: white;
    text-shadow: #444 0 1px 1px !important;
}
