<div class="container-fluid">
    <div class="row well">
        <div class="col-md-6">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <div class="btn-group" role="group">
                        <a *ngIf="podcasts != null && podcasts.length != 0"
                           class="btn btn-warning" [href]="selectedPodcast.rssUrl" target="_blank"><i class="fa fa-rss"></i></a>
                        <a class="btn btn-primary" [routerLink]="['/podcasts/add']"><i class="fa fa-plus"></i>Add</a>
                    </div>
                </div>
                <div class="p-2" *ngIf="podcasts != null && podcasts.length != 0">
                    <div class="btn-group" role="group">
                        <select class="form-control" id="podcast" name="podcast" [(ngModel)]="selectedPodcastId"
                                (change)="onPodcastChange()">
                            <option *ngFor="let p of podcasts" value="{{p.id}}">{{p.title}}</option>
                        </select>
                        <a class="btn btn-outline-success" [routerLink]="['/podcasts/'+ selectedPodcast.slug + '/edit/']"><i class="fa fa-edit"></i></a>
                        <button class="btn btn-outline-danger"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <form class="form-inline pull-right">
                <div class="input-group">
                    <input type="text" class="form-control span6 input-large" placeholder="New entry URL"
                           aria-describedby="basic-addon2"
                           name="entry-url" [(ngModel)]="newEntrySourceUrl">
                    <button type="submit" class="btn btn-success" (click)="addEntry()">
                        <i class="fa fa-plus-circle"></i> Add
                    </button>
                    <a class="btn btn-warning" [routerLink]="['/podcasts/'+ selectedPodcast.slug + '/upload/']"><i class="fa fa-upload" aria-hidden="true"></i>Upload</a>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-hover">
            <tbody>
            <tr *ngFor="let entry of entries" app-entry-list-item [entry]="entry"></tr>
            </tbody>
        </table>
    </div>
</div>
