<div class="sk-wave" *ngIf="!selectedPodcast">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>
<div *ngIf="selectedPodcast">
    <ol class="breadcrumb" *ngIf="selectedPodcast">
        <li class="breadcrumb-item active">{{selectedPodcast.title}}</li>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary btn-outline-warning"
                   [href]="selectedPodcast.rssUrl" target="_blank">
                    <i class="fa fa-rss"></i>
                </a>
                <a class="btn btn-secondary" (click)="startUpload()"><i class="icon-cloud-upload"></i></a>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="icon-plus"></i> &nbsp;Add entry
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item">
                            <div class="input-group" style="width:420px;">
                                <input type="email" id="input2-group2" name="entry-url" [(ngModel)]="newEntrySourceUrl"
                                       class="form-control" placeholder="New entry URL">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="addEntry()">
                                        <i class="fa fa-plus-circle"></i> Submit</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <div class="card">
        <!--
        <app-podcast-upload-form *ngIf="uploadMode" [podcast]="selectedPodcast"
                                 (onUploadComplete)="onEntryUploadComplete($event)">
        </app-podcast-upload-form>
        -->
        <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <tbody>
            <tr *ngFor="let entry of selectedPodcast.podcastEntries" app-entry-list-item
                (entryRemoved)='deleteEntry(entry)' [entry]="entry">
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" bsModal #podcastDeleteDialog="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Delete this podcast?</h4>
                    <button type="button" class="close pull-right" aria-label="Close"
                            (click)="podcastDeleteDialog.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary pull-right" (click)="podcastDeleteDialog.hide()">No
                    </button>
                    <button type="button" class="btn btn-danger pull-right"
                            (click)="deletePodcast(); podcastDeleteDialog.hide()">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
