<div *ngIf="selectedPodcast$ | async; let podcast; else loading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{podcast.title}}</li>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary btn-outline-warning" [href]="podcast.rssUrl" target="_blank">
                    <i class="text-warning fa fa-rss"></i>
                </a>
                <a class="btn btn-secondary" (click)="startAddEntry()"><i class="icon-plus"></i> Add</a>
                <a class="btn btn-secondary" (click)="startUpload()"><i class="icon-cloud-upload"></i> Upload</a>
            </div>
        </li>
    </ol>
    <div class="card">
        <app-podcast-upload-form *ngIf="uploadMode" [podcast]="podcast" (onUploadComplete)="onEntryUploadComplete($event)">
        </app-podcast-upload-form>
        <div class="input-group" *ngIf="addEntryMode">
            <input type="text" id="input2-group2" name="entry-url" 
            [(ngModel)]="newEntrySourceUrl" class="form-control" placeholder="New entry URL">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" (click)="addEntry(podcast)">
                    <i class="fa fa-plus-circle"></i> Submit</button>
            </span>
        </div>
        <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <tbody>
                <tr *ngFor="let e of entries$ | async" app-entry-list-item (entryRemoved)='deleteEntry(e)' [entry]="e">
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" bsModal #podcastDeleteDialog="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Delete this podcast?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="podcastDeleteDialog.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary pull-right" (click)="podcastDeleteDialog.hide()">No
                    </button>
                    <button type="button" class="btn btn-danger pull-right" (click)="deletePodcast(); podcastDeleteDialog.hide()">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="sk-wave" *ngIf="!selectedPodcast">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
    </div>
</ng-template>