@import 'variables';
@import 'theme';
@import 'mixin';

.bg-youtube {
  background-color: #ff0000;
}
.text-youtube {
  color: #ff0000;
}

[hidden] {
  display: none !important;
}

a:hover {
  cursor: pointer;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url('https://cdn.podnoms.com/static/images/pn-back.jpg');
  background-size: 100% 100%;
}

::ng-deep .full-modal .modal-dialog {
  max-width: 80%;
  width: 80%;
}
::ng-deep dropzone > .dropzone.dz-wrapper .dz-message {
  overflow: hidden !important;
}
