.bg-youtube {
  background-color: #cc0000 !important;
}

@import 'theme';
@import 'mixin';

[hidden] {
  display: none !important;
}

a:hover {
  cursor: pointer;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url('https://cdn.podnoms.com/static/images/pn-back.jpg');
  background-size: 100% 100%;
}

::ng-deep .full-modal .modal-dialog {
  max-width: 80%;
  width: 80%;
}

.text-youtube {
  color: #ff0000;
}

/* Importing Bootstrap SCSS file. */
//@import '~fontawesome/scss/fontawesome';
