@import 'theme';
@import 'mixin';
@import 'include/forms';
@import 'include/modal';

[hidden] {
    display: none !important;
}

a:hover {
    cursor: pointer;
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url('/assets/img/robothand.jpg');
    background-size: 100% 100%;
}
