.floated-chat-btn {
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #097cff;
    -webkit-box-shadow: 0 2px 20px 0 rgba(46, 130, 255, 0.75);
    box-shadow: 0 2px 20px 0 rgba(46, 130, 255, 0.75);
    border-radius: 75px;
    color: #fff;
    padding: 12px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 1.08rem;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.floated-chat-btn i {
    vertical-align: middle;
    display: inline-block;
    font-size: 24px;
}
.floated-chat-btn span {
    vertical-align: middle;
    display: inline-block;
    font-weight: 500;
}
.floated-chat-btn i + span {
    margin-left: 15px;
}
.floated-chat-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #0064d5;
    -webkit-box-shadow: 0 2px 30px 0 rgba(46, 130, 255, 0.8);
    box-shadow: 0 2px 30px 0 rgba(46, 130, 255, 0.8);
}
.floated-chat-w {
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.floated-chat-w.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.floated-chat-w .floated-chat-i {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 40px 0 rgba(43, 132, 210, 0.41);
    box-shadow: 0 2px 40px 0 rgba(43, 132, 210, 0.41);
    border-radius: 10px;
    width: 320px;
    position: relative;
}
.floated-chat-w .floated-chat-i .chat-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 10px;
    cursor: pointer;
}
.floated-chat-w .chat-head {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.floated-chat-w .chat-head .user-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.floated-chat-w .chat-head .user-w .user-avatar-w {
    width: 50px;
}
.floated-chat-w .chat-head .user-w .user-avatar-w .user-avatar {
    border-radius: 40px;
    overflow: hidden;
}
.floated-chat-w .chat-head .user-w .user-avatar-w .user-avatar img {
    max-width: 100%;
    height: auto;
}
.floated-chat-w .chat-head .user-w.with-status .user-avatar-w {
    position: relative;
}
.floated-chat-w .chat-head .user-w.with-status .user-avatar-w:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 3px #fff;
    box-shadow: 0px 0px 0px 3px #fff;
}
.floated-chat-w
    .chat-head
    .user-w.with-status.status-green
    .user-avatar-w:before {
    background-color: #24b314;
}
.floated-chat-w
    .chat-head
    .user-w.with-status.status-red
    .user-avatar-w:before {
    background-color: #e65252;
}
.floated-chat-w .chat-head .user-w .user-name {
    padding-left: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.floated-chat-w .chat-head .user-w .user-title {
    margin-bottom: 2px;
    color: #047bf8;
}
.floated-chat-w .chat-head .user-w .user-role {
    font-weight: 500;
    font-size: 0.81rem;
}
.floated-chat-w .chat-head .user-w .user-action {
    width: 50px;
    color: #047bf8;
    font-size: 18px;
}
.floated-chat-w .chat-messages {
    padding: 20px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.floated-chat-w .chat-messages .message {
    margin-bottom: 12px;
}
.floated-chat-w .chat-messages .message .message-content {
    color: #594939;
    padding: 10px 20px;
    background-color: #fcf6ee;
    border-radius: 20px 20px 20px 0px;
    max-width: 80%;
    display: inline-block;
    text-align: left;
}
.floated-chat-w .chat-messages .message.self {
    text-align: right;
}
.floated-chat-w .chat-messages .message.self .message-content {
    border-radius: 20px 20px 0px 20px;
    background-color: #e2efff;
    color: #2a4e7f;
}
.floated-chat-w .chat-messages .date-break {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.4);
}
.floated-chat-w .chat-controls {
    padding: 10px;
    padding-top: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.floated-chat-w .chat-controls .message-input {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 0px;
}
.floated-chat-w .chat-controls .message-input:focus {
    outline: none;
    border-bottom: 1px solid #047bf8;
}
.floated-chat-w .chat-controls .chat-extra {
    text-align: left;
    padding-left: 0px;
    padding-top: 10px;
}
.floated-chat-w .chat-controls .chat-extra a {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    position: relative;
}
.floated-chat-w .chat-controls .chat-extra a .extra-tooltip {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-weight: 500;
    font-size: 0.63rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 7px;
    border-radius: 4px;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
}
.floated-chat-w .chat-controls .chat-extra a:hover {
    text-decoration: none;
}
.floated-chat-w .chat-controls .chat-extra a:hover .extra-tooltip {
    display: block;
}
