<div class="container-fluid">
    <div class="row center">
        <div class="col-md-6 col-xl-3"
             *ngFor="let item of pricingTiers$ | async">
            <a class="block block-link-pop block-rounded block-bordered text-center"
               href="javascript:void(0)">
                <div class="block-header">
                    <h3 class="block-title">{{item.title}}</h3>
                </div>
                <div class="block-content bg-gray-lighter">
                    <div class="h1 font-w700 mb-10">{{item.costPerMonth/100
                        | currency: 'EUR': true}}</div>
                    <div class="h5 text-muted">per month</div>
                </div>
                <div class="block-content">
                    <p *ngFor="let detail of item.details">
                        {{detail}}</p>
                </div>
                <div class="block-content block-content-full bg-gray-lighter">
                    <a class="btn btn-hero btn-sm btn-rounded btn-noborder btn-success"
                       [routerLink]="['../pay', {type:item.type}]">{{item.costPerMonth
                        === 0 ? 'Donate' : 'Pay Now'}}</a>
                </div>
            </a>
        </div>
    </div>
</div>
