<div class="container-fluid">
    <div class="row center">
        <div class="col-md-8 col-xl-3">
            <a class="block block-rounded text-center"
               [routerLink]="['../pay', {type:'donate'}]">
                <div class="block-header">
                    <h3 class="block-title">Personal</h3>
                </div>
                <div class="block-content bg-primary">
                    <div class="h1 font-w700 mb-10 text-white">Free</div>
                    <div class="h5 text-muted text-white-op">(as
                        in beer)</div>
                </div>
                <div class="block-content">
                    <p><strong>Unlimited</strong>
                        Podcasts</p>
                    <p><strong>1GB</strong>
                        Storage</p>
                    <p><strong>10</strong>
                        Episodes per
                        podcast</p>
                    <p>Email Support</p>
                </div>
                <div class="block-content block-content-full bg-gray-lighter">
                    <span class="btn btn-hero btn-sm btn-rounded btn-noborder btn-primary">Donate
                        Now</span>
                </div>
            </a>
        </div>
        <div class="col-md-8 col-xl-3">
            <a class="block block-rounded text-center"
               [routerLink]="['../pay', {type:'advanced'}]">
                <div class="
               block-header">
                    <h3 class="block-title">Advanced</h3>
                </div>
                <div class="block-content bg-warning">
                    <div class="h1 font-w700 mb-10 text-white">€10</div>
                    <div class="h5 text-muted text-white-op">per
                        month</div>
                </div>
                <div class="block-content">
                    <p><strong>Unlimited</strong>
                        Podcasts</p>
                    <p><strong>100GB</strong>
                        Storage</p>
                    <p><strong>Unlimited</strong>
                        Episodes per
                        podcast</p>
                    <p><strong>Priority</strong>
                        Email Support</p>
                </div>
                <div class="block-content block-content-full bg-gray-lighter">
                    <span class="btn btn-hero btn-sm btn-rounded btn-noborder btn-warning">Pay
                        Now</span>
                </div>
            </a>
        </div>
        <div class="col-md-8 col-xl-3">
            <a class="block block-link-shadow block-rounded text-center"
               [routerLink]="['../pay', {type:'professional'}]">
                <div class="block-header">
                    <h3 class="block-title">Professional</h3>
                </div>
                <div class="block-content bg-danger">
                    <div class="h1 font-w700 mb-10 text-white">€100</div>
                    <div class="h5 text-muted text-white-op">per
                        month</div>
                </div>
                <div class="block-content">
                    <p><strong>Unlimited</strong>
                        Podcasts</p>
                    <p><strong>Unlimited</strong>
                        Storage</p>
                    <p><strong>Unlimited</strong>
                        Episodes per
                        podcast</p>
                    <p><strong>Telephone</strong>
                        Support</p>
                </div>
                <div class="block-content block-content-full bg-gray-lighter">
                    <span class="btn btn-hero btn-sm btn-rounded btn-noborder btn-danger">Pay
                        Now</span>
                </div>
            </a>
        </div>
    </div>
</div>
