<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="block">
                <div class="block-header">Debug Info</div>
                <div class="block-content">
                    <div class="row">
                        API Host: {{apiHost}}
                        <br /> SignalR Hos: {{signalrHost}}
                        <br /> Ping: {{pingPong}}
                    </div>
                    <div class="row">
                        <pre [innerHtml]="(debugInfo$ | async) | prettyprint"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block">
                <div class="block-header">
                    Jobs
                </div>
                <div class="block-content">
                    <button class="btn btn-primary" (click)="processOrphans()">Process Orphans</button>
                    <button class="btn btn-primary" (click)="processPlaylists()">Process Playlists</button>
                    <button class="btn btn-primary" (click)="updateYouTubeDl()">Update Youtube Downloader</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-default" (click)="requestPushCallback()">Request push callback</button>
    </div>
</div>
