<td class="text-center">
    <div class="avatar">
        <i *ngIf="entry.processingStatus==='Downloading'" class="fa fa-cog fa-spin fa-2x fa-fw text-warning"></i>
        <i *ngIf="entry.processingStatus==='Processing'" class="fa fa-cog fa-spin fa-2x fa-fw text-danger"></i>
        <i *ngIf="entry.processingStatus==='Uploading'" class="fa fa-cog fa-spin fa-2x fa-fw text-success"></i>
        <img *ngIf="entry.processingStatus==='Processed'" class="rounded-circle podcast-entry-table-image" [src]="entry.imageUrl">
    </div>
</td>
<td>
    <h4 *ngIf="entry.processingStatus==='Downloading'">{{entry.sourceUrl}}</h4>
    <h4 *ngIf="entry.processingStatus==='Processing'">{{entry.title}}</h4>
    <h4 *ngIf="entry.processingStatus==='Uploading'">{{entry.title}}</h4>
    <h4 *ngIf="entry.processingStatus==='Processed'">
        <inline-editor type="text" [(ngModel)]="entry.title" (onSave)="saveTitle($event)" size="50"></inline-editor>
    </h4>
</td>
<td>
    <h4 *ngIf="entry.processingStatus==='Downloading'">Downloading..</h4>
    <h4 *ngIf="entry.processingStatus==='Processing'">
        <div class="clearfix">
            <div class="float-left">
                <strong>{{percentageProcessed}}%</strong>
            </div>
            <div class="float-right">
                <small class="text-muted">{{currentSpeed}}</small>
            </div>
        </div>
        <div class="progress progress-xs">
            <div class="progress-bar bg-success" role="progressbar"
            [style.width]="percentageProcessed + '%'" [attr.aria-valuenow]="percentageProcessed" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </h4>
    <h4 *ngIf="entry.processingStatus==='Uploading'">Uploading..</h4>
    <h4 *ngIf="entry.processingStatus==='Processed'">
        <audio controls preload="none">
            <source src="{{entry.audioUrl}}" type="audio/mpeg" />
            <a target="_blank" [href]="entry.audioUrl">{{entry.title}}</a>
        </audio>
    </h4>
</td>
<td>
    <a class="btn btn-outline btn-outline-danger" (click)="entryDeleteDialog.show()"><i class="fa fa-remove"></i></a>
</td>


<div class="modal fade" bsModal #entryDeleteDialog="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Delete this podcast entry?</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="entryDeleteDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary pull-right" (click)="entryDeleteDialog.hide()">No</button>
                <button type="button" class="btn btn-danger pull-right" (click)="deleteEntry(); entryDeleteDialog.hide()">Yes</button>
            </div>
        </div>
    </div>
</div>
