<header id="page-header">
    <div class="content-header">
        <div class="content-header-section">
            <button type="button"
                    class="btn btn-circle btn-dual-secondary"
                    (click)="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="content-header-section">
            <a href="https://facebook.com/podnoms"
               target="_blank"
               class="btn btn-circle btn-dual-secondary btn-facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/podnoms"
               target="_blank"
               class="btn btn-circle btn-dual-secondary btn-twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="content-header-section">
            <a href="https://talk.podnoms.com/"
               target="_blank"
               class="btn btn-circle btn-dual-secondary btn-twitter">
                <i class="fa fa-life-ring"></i>&nbsp; Help & Support
            </a>
        </div>
        <div class="content-header-section">
            <img [src]="profile.profileImage"
                 class="rounded-circle profile-img">
            <div class="btn-group"
                 role="group">
                <button type="button"
                        class="btn btn-rounded btn-dual-secondary"
                        id="page-header-user-dropdown"
                        data-toggle="dropdown">
                    {{profile.firstName}} {{profile.lastName}}
                    <i class="fa fa-angle-down ml-5"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right min-width-150">
                    <a class="dropdown-item"
                       [routerLink]="['/profile']">
                        <i class="fa fa-user mr-5"></i> Profile</a>
                    <a class="dropdown-item"
                       (click)="logout()">
                        <i class="fa fa-sign-out-alt mr-5"></i> Logout</a>
                </div>
            </div>
            <button type="button"
                    class="btn btn-circle btn-dual-secondary"
                    (click)="toggleOverlay()">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </div>
    </div>
</header>
