.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url('https://cdn.podnoms.com/static/images/pn-back.jpg');
    background-size: 100% 100%;
}
.progress-text {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.2;
}
