<div id="page-container"
    class="main-content-boxed">
    <main id="main-container">
        <div class="bg-image">
            <div class="row no-gutters justify-content-center">
                <div class="hero-static col-lg-9">
                    <div class="content content-full overflow-hidden">
                        <div class="block block-rounded block-shadow">
                            <div class="block-content block-content-full">
                                <h2 class="content-heading text-black pt-20"> Pssst? Fancy a quick mp3?</h2>
                                <div class="row items-push">
                                    <div class="col-lg-12">
                                        <form (submit)="processUrl()"
                                            [formGroup]="form">
                                            <div class="input-group input-group-lg">
                                                <input type="text"
                                                    class="form-control form-control-lg"
                                                    formControlName="url"
                                                    placeholder="Enter url here and we'll see what we can do!">
                                                <div class="input-group-append">
                                                    <button type="submit"
                                                        [disabled]="!form.valid"
                                                        class="btn btn-secondary">
                                                        <i class= "fa-solid fa-arrow-up mr-5"></i>Go!
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-12"
                                        *ngIf="status && !processingStatus">
                                        <div class="spinner-border text-primary"
                                            role="status">
                                        </div>
                                        <span class="progress-text ml-10">{{status}}...</span>
                                    </div>
                                    <div class="col-lg-12"
                                        *ngIf="processingStatus && processingStatus.progress !== 'Processed'">
                                        <div class="spinner-border text-primary"
                                            role="status">
                                        </div>
                                        <span class="progress-text ml-10">{{processingStatus.progress}}...</span>
                                        <div class="progress-bar"
                                            *ngIf="processingStatus.payload"
                                            role="progressbar"
                                            [style.width]="processingStatus.payload.percentage + '%'"
                                            [attr.aria-valuenow]="processingStatus.payload.percentage"
                                            aria-valuemin="0"
                                            aria-valuemax="100">
                                            <span class="progress-bar-label">{{processingStatus.payload.percentage}}%</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12"
                                        *ngIf="processingStatus && processingStatus.progress === 'Processed'">
                                        <h3>Success - this download will last for 30 minutes!</h3>
                                        <p>
                                            <button class="btn btn-hero btn-rounded btn-outline-warning btn-lg"
                                                (click)="downloadLink(processingStatus.payload)"
                                                href="#">
                                                <i class="fas fa-download mr-2"></i>
                                                Download
                                            </button>
                                        </p>
                                        <p>
                                            <button type="button"
                                                data-toggle="tooltip"
                                                title="Copy link"
                                                (click)="copyUrl(processingStatus.payload)"
                                                class="btn btn-sm btn-circle btn-alt-secondary mr-5 mb-5"
                                                aria-label="Copy link">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                            <span class="mr-10">{{processingStatus.payload}}</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
