<div class="container-fluid">
    <div class="card" *ngIf="podcast$ | async; let podcast; else loading">
        <div class="card-block">
            <div class="col-md-4">
                <form (submit)="submitForm(podcast)">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="podcast-name">Podcast Name</label>
                            <input id="podcast-name" name="podcast-name" class="form-control" placeholder="Podcast name" [(ngModel)]="podcast.title">
                        </div>
                        <div *ngIf="podcast.id">
                            <div class="file-upload">
                                <div class="input-group" style="visibility: hidden;">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            Choose image....
                                            <input type="file" (change)="fileChangeEvent()" #fileInput>
                                        </span>
                                    </span>
                                </div>
                                <br />
                                <div class="options-container" id="image-container">
                                    <img class="img-fluid options-item img-preview" [src]="image.src" alt="">
                                    <div class="options-overlay bg-black-op-75">
                                        <div class="options-overlay-content">
                                            <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75" (click)="callFileInput()">
                                                <i class="fa fa-pencil"></i> Replace
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <img *ngIf="image.src"
                                     class='img-preview'
                                     [src]="image.src" /> -->
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-actions">
                        <button type="submit" [disabled]="sending" class="btn btn-success">
                            <i class="fa fa-check"></i> Done!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="sk-wave" *ngIf="!selectedPodcast">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
    </div>
</ng-template>
