<div class="bounding"
    *ngIf="profile$ | async as profile; else default">
    <div id="page-container"
        class="page-header-fixed side-scroll side-trans-enabled"
        [class.sidebar-o]="(uiStateService.sidebarOpen$ | async)"
        [class.footer-open]="(uiStateService.footerOpen$ | async)"
        [class.sidebar-o-xs]="(uiStateService.sidebarOpenMobile$ | async)"
        [class.side-overlay-o]="uiStateService.overlayOpen">
        <app-side-overlay [profile]="profile"></app-side-overlay>
        <app-sidebar></app-sidebar>
        <app-navbar></app-navbar>
        <main id="main-container">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
    <app-footer></app-footer>
    <!-- <ng2-toasty [position]="'top-right'"></ng2-toasty>
    <app-chat-widget *ngIf="loggedIn() && !isProduction"></app-chat-widget> -->
</div>

<ng-template #default>
    <router-outlet></router-outlet>
</ng-template>
<app-toast></app-toast>
<div *ngIf="profile$">
    <app-modal-updates [(action$)]="action$">
    </app-modal-updates>
</div>
<app-chatbox></app-chatbox>
