<div id="page-container" class="main-content-boxed side-trans-enabled">
    <main id="main-container" style="min-height: 637px;">
        <div class="bg-image" style="background-image: url('assets/img/robothand.jpg');">
            <div class="hero bg-black-op">
                <div class="hero-inner">
                    <div class="content content-full">
                        <div class="row justify-content-center">
                            <div class="col-md-6 py-30 text-center">
                                <h1 class="display-4 font-w700 text-white mb-10">{{title}}</h1>
                                <p class="text-white" [innerHTML]="content"></p>
                                <a class="btn btn-hero btn-noborder btn-rounded btn-outline-warning" href="/">
                                    <i class="fa fa-arrow-left mr-10"></i> To the noms!!!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
