    <div class="block">
        <div class="block-header">
            <h3 class="block-title">
                Statistics <small>This Week</small>
            </h3>
            <div class="block-options">
                <button type="button"
                    class="btn-block-option">
                    <i class="si si-wrench"></i>
                </button>
            </div>
        </div>
        <div class="block-content block-content-full bg-body-light text-center">
            <div class="row gutters-tiny">
                <div class="col-4">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">Sales</div>
                    <div class="font-size-h3 font-w600">63</div>
                    <div class="font-w600 text-success">
                        <i class="fa fa-caret-up"></i> +12%
                    </div>
                </div>
                <div class="col-4">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">Earnings</div>
                    <div class="font-size-h3 font-w600">$ 880</div>
                    <div class="font-w600 text-danger">
                        <i class="fa fa-caret-down"></i> -10%
                    </div>
                </div>
                <div class="col-4">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">Balance</div>
                    <div class="font-size-h3 font-w600">$ 4,560</div>
                    <div class="font-w600 text-success">
                        <i class="fa fa-caret-up"></i> +23%
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full">
            <pre class="pre-sh">
            <code class="xml"
                [innerHTML]="opml$ | async"></code>
        </pre>
        </div>
    </div>
