<div class="block block-rounded block-bordered pb-30"
     *ngIf="type !== 'donate_torevisit'">
    <div class="block-header block-header-default">
        <h3 class="block-title">{{headerText}}</h3>
    </div>
    <div class="block-content"
         *ngIf="!loadingText">
        <p>We use <a href="https://stripe.com/">Stripe</a>
            for payment processing</p>
        <p>At no point do we have
            access to your credit card
            number, and it is NEVER
            stored in our system.</p>
        <button class="btn btn-secondary"
                (click)="handlePayment()"
                *ngIf="type !== 'donation'">
            <i class="fa fa-th-large text-primary mr-5 "></i>
            1 month
            subscription @ {{this.amount/100 | currency}}
        </button>
        <div class="col-md-3">
            <div class="input-group"
                 *ngIf="type === 'donation'">
                <input type="number"
                       #amount
                       value="10.00"
                       class="form-control"
                       placeholder="Enter amount">
                <div class="input-group-append">
                    <button class="btn btn-secondary"
                            (click)="handleDonation(amount.value)">
                        <i class="fa fa-th-large text-primary mr-5 "></i>
                        Donate
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content"
         *ngIf="loadingText">
        <app-loader [loadingText]="loadingText"></app-loader>
    </div>
</div>
<div class="block block-rounded block-bordered pb-30"
     *ngIf="type === 'donate_torevisit'">
    <div class="block-header">
        <h3 class="block-title">Buy me a coffee, or a beer, or
            an Aston Martin</h3>
    </div>
    <div class="block-content">
        <app-donation></app-donation>
    </div>
</div>
