@import '~styles/theme/codebase/_variables.scss';

.podcast-image {
    height: 35px;
    margin: 0 10px;
}

ol {
    margin-bottom: 0;
}

.border {
    background: red;
}

.modal-podcast-image {
    width: 64px;
    height: 64px;
}

.block-content {
    background-color: $body-bg;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute !important;
    top: 35% !important;
    /* Bottom of button */
    right: 0;
    margin-left: -100px;
    /* More to the left */
}
