<div class="podcast-container-wrapper"
    *ngIf="(podcasts$ | async) as podcast">
    <div class="block block-themed block-rounded"
        *ngIf="(selectedPodcast$ | async) as selected">
        <div class="block-header bg-pulse-dark">
            <h3 class="block-title">
                {{selected.title}}
            </h3>
            <div class="block-options">
                <div class="btn-group"
                    role="group"
                    aria-label="Podcast actions">
                    <a [routerLink]="['/podcasts', selected.slug, 'edit']"
                        title="Edit podcast"
                        class="btn-block-option">
                        <i class="icon icon-pencil"
                            aria-hidden="true"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Edit</span>
                    </a>
                    <button (click)="podcastDeleteDialog.show()"
                        title="Delete this podcast"
                        class="btn-block-option">
                        <i class="icon icon-close"
                            aria-hidden="true"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Delete</span>
                    </button>
                    <button class="btn-block-option"
                        title="Add podcast from URL"
                        (click)="uploadMode = uploadMode === uploadModes.none ? uploadModes.fromUrl : uploadModes.none">
                        <i class="icon icon-plus"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Add (from URL)</span>
                    </button>
                    <div class="btn-group"
                        role="group">
                        <button type="button"
                            class="btn-block-option dropdown-toggle"
                            title="Upload from local or remote audio file"
                            id="file-upload-group"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon icon-cloud-upload"></i>
                            <span class="d-none d-md-inline-block">&nbsp;Upload from
                                file</span>
                        </button>
                        <div class="dropdown-menu"
                            aria-labelledby="file-upload-group`">
                            <a class="dropdown-item"
                                (click)="startUpload(uploadModes.fromLocalFile)">
                                <i class="icon icon-cloud-upload mr-5"></i>
                                Local
                                PC</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="javascript:void(0)"
                                (click)="startUpload(uploadModes.fromDropbox)">
                                <i class="icon icon-social-dropbox  mr-5"></i>Dropbox
                            </a>
                            <a class="dropdown-item"
                                href="javascript:void(0)"
                                (click)="startUpload(uploadModes.fromGoogleDrive)">
                                <i class="icon icon-social-google  mr-5"></i>Google
                                Drive</a>
                        </div>
                    </div>
                </div>
                <div class="btn-group ml-10"
                    role="group"
                    aria-label="Podcast actions">
                    <a class="btn-block-option "
                        [href]="selected.rssUrl"
                        title="Open RSS feed in new tab"
                        data-toggle="tooltip"
                        target="_blank">
                        <i class="text-warning fas fa-rss"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Rss Url</span>
                    </a>
                    <button type="button"
                        (click)="copyUrl(selected.rssUrl)"
                        title="Copy url to clipboard"
                        data-toggle="tooltip"
                        class="btn-block-option ">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="block-content">
            <app-entry-upload *ngIf="uploadMode !== uploadModes.none"
                [(uploadMode)]="uploadMode"
                [podcast]="selected"
                (podcastUpdated)="podcastUpdated(podcast)">
            </app-entry-upload>
            <app-podcast-detail [podcast]="selected"></app-podcast-detail>
        </div>
        <div class="modal fade"
            role="document"
            bsModal
            #podcastDeleteDialog="bs-modal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Delete
                                this
                                podcast?</h3>
                            <div class="block-options">
                                <button type="button"
                                    class="btn-block-option"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    (click)="podcastDeleteDialog.hide()">
                                    <i class="icon icon-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                            <h3 class="mb-20">This
                                operation
                                cannot
                                be
                                undone!</h3>
                            <div class="container-fluid cxt-padded bg-faded">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2 text-md-left text-center">
                                            <img class="modal-podcast-image rounded-circle"
                                                [src]="selected.imageUrl"
                                                alt="Generic placeholder image" />
                                        </div>
                                        <div class="col-md-10 text-md-left text-center font-w600">
                                            {{
                                            selected.title
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-20">
                                Deleting
                                this
                                podcast
                                will
                                delete
                                all
                                associated
                                entries
                                and
                                audio
                                with no
                                opportunity
                                to get
                                them
                                back.
                                It will
                                also be
                                removed
                                from
                                any
                                podcast
                                applications
                                subscribed
                                to
                                this
                                feed..
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn-block-option"
                                data-dismiss="modal"
                                (click)="podcastDeleteDialog.hide()">
                                No
                            </button>
                            <button type="button"
                                class="btn btn-alt-success"
                                data-dismiss="modal"
                                (click)="deletePodcast(selected); podcastDeleteDialog.hide()">
                                <i class="fa fa-check"></i>
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading">
    <div class="content content-full text-center mt-50">
        <h1 class="display-4 font-w700 text-black-50 mb-10 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn">
            <div class="spinner-border text-success"
                role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </h1>
    </div>
</div>
<div *ngIf="noPodcasts && !loading">
    <div class="content content-full text-center mt-50">
        <h1 class="display-4 font-w700 text-black-50 mb-10 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn">
            Welcome!
        </h1>
        <h2 class="font-w400 text-body mb-50 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn"
            data-timeout="250">
            Let's get you started.
        </h2>
        <a class="btn btn-hero btn-noborder btn-rounded btn-alt-primary js-appear-enabled animated fadeInUp"
            data-toggle="appear"
            data-class="animated fadeInUp"
            data-timeout="300"
            [routerLink]="['add', { useWizard: 'true' }]">
            <i class="icon icon-energy mr-10"></i>
            Create my first podcast
        </a>
    </div>
</div>
