<div class="podcast-container-wrapper"
    *ngIf="(podcast$ | async) as podcast">
    <div class="block block-themed block-rounded"
        *ngIf="(selectedPodcast$ | async) as selected">
        <div class="block-header">
            <h3 class="block-title text-bold">
                {{selected.title}}
            </h3>
            <div class="block-options">
                <div class="btn-group"
                    role="group"
                    aria-label="Podcast actions">
                    <span class="btn-separator"></span>
                    <a [routerLink]="['/podcasts', selected.slug, 'edit']"
                        title="Edit podcast"
                        class="btn-block-option">
                        <i class="icon icon-pencil"
                            aria-hidden="true"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Edit</span>
                    </a>
                    <button (click)="showPodcastDeleteDialog(selected)"
                        title="Delete this podcast"
                        class="btn-block-option">
                        <i class="icon icon-close"
                            aria-hidden="true"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Delete</span>
                    </button>
                    <span class="btn-separator"></span>
                    <button class="btn-block-option"
                        title="Add podcast from URL"
                        (click)="uploadMode = uploadMode === uploadModes.none ? uploadModes.fromUrl : uploadModes.none">
                        <i class="icon icon-plus"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Add (from URL)</span>
                    </button>
                    <div class="btn-group dropdown-container"
                        role="group">
                        <button type="button"
                            class="btn-block-option dropdown-toggle"
                            title="Upload from local or remote audio file"
                            id="file-upload-group"
                            data-toggle="dropdown"
                            data-flip="false"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon icon-cloud-upload"></i>
                            <span class="d-none d-md-inline-block">&nbsp;Upload from
                                file</span>
                        </button>
                        <div class="dropdown-menu"
                            aria-labelledby="file-upload-group`">
                            <a class="dropdown-item"
                                (click)="startUpload(uploadModes.fromLocalFile)">
                                <i class="icon icon-cloud-upload mr-5"></i>
                                Local
                                PC</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="javascript:void(0)"
                                (click)="startUpload(uploadModes.fromDropbox)">
                                <i class="icon icon-social-dropbox  mr-5"></i>Dropbox
                            </a>
                            <a class="dropdown-item"
                                href="javascript:void(0)"
                                (click)="startUpload(uploadModes.fromGoogleDrive)">
                                <i class="icon icon-social-google  mr-5"></i>Google
                                Drive</a>
                        </div>
                    </div>
                </div>
                <div class="btn-group ml-10"
                    role="group"
                    aria-label="Podcast actions">
                    <span class="btn-separator"></span>
                    <a class="btn-block-option "
                        [href]="selected.rssUrl"
                        title="Open RSS feed in new tab"
                        data-toggle="tooltip"
                        target="_blank">
                        <i class="text-warning fas fa fa-rss"></i>
                        <span class="d-none d-md-inline-block">&nbsp;Rss Url</span>
                    </a>
                    <button type="button"
                        (click)="copyUrl(selected.rssUrl)"
                        title="Copy url to clipboard"
                        data-toggle="tooltip"
                        class="btn-block-option ">
                        <i class="fas fa fa-copy"></i>
                    </button>
                    <span class="btn-separator"></span>
                </div>
            </div>
        </div>
        <div class="block-content">
            <app-entry-upload *ngIf="uploadMode !== uploadModes.none"
                [(uploadMode)]="uploadMode"
                [podcast]="selected"
                (podcastUpdated)="podcastUpdated(podcast)">
            </app-entry-upload>
            <app-podcast-detail [podcast]="selected"></app-podcast-detail>
        </div>
    </div>
</div>
<div *ngIf="loading$ | async">
    <div class="content content-full text-center mt-50">
        <h1 class="display-4 font-w700 text-black-50 mb-10 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn">
            <div class="spinner-border text-success"
                role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </h1>
    </div>
</div>
