<div class="podcast-container-wrapper">
    <div class="block block-themed block-rounded"
        *ngIf="(podcast$ | async) as podcast">
        <div class="block-header bg-muted">
            <h3 class="block-title d-inline-block text-truncate">
                {{podcast.title}}
            </h3>
            <div class="block-options">
                <button type="button"
                    class="btn-block-option me-2"
                    (click)="uploadMode = uploadMode === uploadModes.none ? uploadModes.fromUrl : uploadModes.none"
                    aria-expanded="false">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-md-inline-block">Add</span>
                </button>

                <div class="dropdown">
                    <button type="button"
                        class="btn-block-option dropdown-toggle me-2"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"><i class="fa-solid fa-upload me-1"></i>
                        <span class="d-none d-md-inline-block">Upload</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item"
                            (click)="startUpload(uploadModes.fromLocalFile)">
                            <i class="fa-solid fa-floppy-disk opacity-50 me-1"></i>
                            Local File
                        </a>
                        <a class="dropdown-item"
                            (click)="startUpload(uploadModes.fromGoogleDrive)">
                            <i class="fa-solid fa-google-drive opacity-50 me-1"></i>
                            Google Drive
                        </a>
                        <a class="dropdown-item"
                            (click)="startUpload(uploadModes.fromDropbox)">
                            <i class="fa-brands fa-dropbox opacity-50 me-1"></i>
                            Dropbox
                        </a>

                    </div>
                </div>
                <a [routerLink]="['/podcasts', podcast.slug, 'edit']"
                    class="btn-block-option">
                    <i class="fa-solid fa-pencil-alt"></i>
                </a>
                <a *ngIf="publicPageEnabled"
                    [href]="podcast.pagesUrl"
                    title="Open public podcast page"
                    data-toggle="tooltip"
                    target="_blank"
                    rel="noopener"
                    class="btn-block-option d-none d-md-inline-block">
                    <i class="text-success fas fa fa-newspaper animated swing"></i>
                </a>
                <a *ngIf="publicPageEnabled"
                    [href]="podcast.rssUrl"
                    title="Open RSS feed in new tab"
                    data-toggle="tooltip"
                    target="_blank"
                    rel="noopener"
                    class="btn-block-option">
                    <i class="text-warning fa-solid fa-rss"></i>
                </a>
                <button (click)="copyUrl(podcast.rssUrl)"
                    title="Open RSS feed in new tab"
                    data-toggle="tooltip"
                    target="_blank"
                    rel="noopener"
                    class="btn-block-option d-none d-md-inline-block">
                    <i class="fa-solid fa-copy"></i>
                </button>
            </div>
        </div>
        <div class="block-content h-5">
            <app-entry-upload *ngIf="uploadMode !== uploadModes.none"
                [(uploadMode)]="uploadMode"
                [podcast]="podcast"
                (podcastUpdated)="podcastUpdated()">
            </app-entry-upload>
            <app-podcast-detail #podcastDetail
                (fromUrlClick)="uploadMode = uploadMode === uploadModes.none ? uploadModes.fromUrl : uploadModes.none"
                (fromLocalFileClick)="startUpload(uploadModes.fromLocalFile)"
                [podcast]="podcast"></app-podcast-detail>
        </div>
    </div>
</div>
<div *ngIf="loading$ | async">
    <div class="content content-full text-center mt-50">
        <h1 class="display-4 font-w700 text-black-50 mb-10 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn">
            <div class="spinner-border text-success"
                role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </h1>
    </div>
</div>
<div *ngIf="noPodcasts">
    <div class="content content-full text-center mt-50">
        <h1 class="display-4 font-w700 text-black-50 mb-10 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn">
            Welcome!
        </h1>
        <h2 class="font-w400 text-body mb-20 js-appear-enabled animated fadeIn"
            data-toggle="appear"
            data-class="animated fadeIn"
            data-timeout="250">
            Let's get you started.
        </h2>
        <a class="btn btn-info min-width-125 js-click-ripple-enabled"
            data-toggle="appear"
            data-class="animated fadeInUp"
            data-timeout="300"
            [routerLink]="['add', { useWizard: 'true' }]">
            <i class="fa-solid fa-plus mr-10"></i>
            Create new podcast
        </a>
    </div>
</div>
