<div class="user-container-wrapper">
    <div class="block block-themed block-rounded">
        <div class="block-header bg-pulse-dark">
            <h3 class="block-title">User list</h3>
        </div>
        <div class="block-content">
            <ngx-datatable #userTable
                class="bootstrap striped expandable"
                [rows]="users"
                [columnMode]="'flex'"
                [headerHeight]="40"
                [summaryRow]="true"
                [summaryPosition]="'bottom'"
                [footerHeight]="40"
                [loadingIndicator]="loading"
                [rowHeight]="'auto'"
                [externalSorting]="true"
                [externalPaging]="true"
                [count]="page.rowCount"
                [offset]="page.currentPage-1"
                [limit]="page.pageSize"
                (sort)="onSort($event)"
                (page)="setPage($event)">
                <ngx-datatable-row-detail [rowHeight]="
                100">
                    <ng-template let-row="row"
                        let-expanded="expanded"
                        ngx-datatable-row-detail-template>
                        <ngx-datatable #userTable
                            class="bootstrap striped expandable"
                            [rows]="row.podcasts"
                            [columnMode]="'force'"
                            [headerHeight]="40"
                            [summaryRow]="true"
                            [summaryPosition]="'bottom'"
                            [footerHeight]="40"
                            [limit]="10"
                            [rowHeight]="'auto'"
                            [reorderable]="true">
                            <ngx-datatable-column name="Slug">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Title">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="CreateDate">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column [width]="50"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
                    <ng-template let-row="row"
                        let-expanded="expanded"
                        ngx-datatable-cell-template>
                        <a href="javascript:void(0)"
                            [class.datatable-icon-right]="!expanded"
                            [class.datatable-icon-down]="expanded"
                            title="Expand/Collapse Row"
                            (click)="toggleExpandRow(row)">
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name"
                    [flexGrow]="2">
                    <ng-template let-value="value"
                        ngx-datatable-cell-template>
                        <strong>{{ value }}</strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email"
                    [flexGrow]="2">
                </ngx-datatable-column>
                <ngx-datatable-column name="
                    Slug"
                    [flexGrow]="2">
                </ngx-datatable-column>
                <ngx-datatable-column name="PodcastCount"
                    [flexGrow]="1"
                    [cellClass]="'text-right float-right'">
                    <ng-template let-column="column"
                        ngx-datatable-header-template
                        let-sort="sortFn">
                        <span (click)="sort()">
                            Podcasts</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="EntryCount"
                    [flexGrow]="1"
                    [cellClass]="'text-right float-right'">
                    <ng-template let-column="column"
                        ngx-datatable-header-template
                        let-sort="sortFn">
                        <span (click)="sort()">Entries</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="City"
                    [flexGrow]="1">
                </ngx-datatable-column>
                <ngx-datatable-column name="CountryCode"
                    [flexGrow]="1">
                    <ng-template ngx-datatable-header-template>
                        <span>Country</span>
                    </ng-template>
                    <ng-template let-value="value"
                        ngx-datatable-cell-template>
                        {{value}}&nbsp;<span [className]="getClassName(value)"></span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="LastSeen"
                    [flexGrow]="2">
                    <ng-template let-value="value"
                        ngx-datatable-cell-template>
                        <strong>{{ value | amTimeAgo}}</strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="IsAdmin"
                    [flexGrow]="1">
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
