<div class="table-responsive">
    <div class="row">
        <table class="table table-striped table-vcenter table-bordered">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Type</th>
                    <th>Type</th>
                    <th class="text-center">Invoice</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments$ | async">
                    <td class="font-w600">
                        {{payment.transactionId}}
                    </td>
                    <td>{{payment.startDate |
                    date:'short'}}</td>
                    <td>{{payment.startDate |
                    date:'short'}}</td>
                    <td>{{payment.amount/100 | currency: 'EUR':
                    true}}</td>
                    <td>
                        <span *ngIf="payment.type==='Personal'"
                            class="badge badge-secondary">Personal</span>
                        <span *ngIf="payment.type==='Professional'"
                            class="badge badge-warning">Professional</span>
                    </td>
                    <td class="text-center">
                        <!-- <a [href]="payment.receiptURL"
                       target="_blank"
                rel="noopener"
                download="PodNoms Invoice - {{payment.startDate}}.pdf"
                       class="btn btn-alt-danger">
                        <i class="fa fa-download"></i>
                    </a> -->
                        <button class="btn btn-outline"
                            data-toggle="tooltip"
                            title="Download invoice"
                            (click)="downloadInvoice(payment)"
                            class="btn btn-alt-danger">
                            <i class="fa fa-download"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<iframe id="downloader"
    #downloader
    style="display:none"></iframe>
