<div class="toast-container"
     [@enterLeave]="'animate'">
    <div id="toast-{{toast.id}}"
         class="toast-item nav-users">
        <a href="javascript:void(0)"
           (click)="clickItem()"
           class="{{cssClass(toast)}}">
            <img class="img-avatar"
                 [src]="toast.image"
                 alt="">
            {{toast.title}}
            <div class="font-w400 font-size-xs text-muted">
                {{toast.message}}
            </div>

        </a>
        <div class="progress"
             *ngIf="toast.autoClose"
             style="height: 8px;">
            <div class="progress-bar"
                 role="progressbar"
                 [style.width.%]="timerPercentageRemaining"
                 [attr.aria-valuenow]="timerPercentageRemaining"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
</div>
