<div class="block block-fx-shadow">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            <img [src]="remoteAudioData.image"
                style="width: 24px; height: 24px;">
            {{remoteAudioData.title}}
        </h3>
        <div class="block-options">
            <button type="submit"
                class="btn btn-sm btn-alt-primary"
                (click)="itemChosen($event)">
                <i class="fa fa-check"></i> Submit
            </button>
            <button type="reset"
                class="btn btn-sm btn-alt-danger ml-5"
                (click)="itemChosen()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>
    </div>
    <div class="block-content">
        <table *ngIf="remoteAudioData.data"
            class="table table-borderless table-striped table-vcenter">
            <tbody>
                <tr *ngFor="let row of remoteAudioData.data; let i = index">
                    <td scope="row">
                        <div class="form-check">
                            <input type="radio"
                                class="form-check-input"
                                name="selected-audio"
                                id="selected-audio-{{i}}"
                                value="{{i}}"
                                [(ngModel)]="selectedItem">
                        </div>
                    </td>
                    <td data-toggle="tooltip"
                        title="{{row.value}}">{{row.key}}</td>
                    <td>
                        <app-simple-audio-player [src]="row.value"></app-simple-audio-player>
                    </td>
                    <td class="text-right">
                        <app-file-size [src]="row.value"></app-file-size>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
    <div class="block-content block-content-full bg-body-light text-muted text-center font-w600">
        Multiple audio sources found, please choose one
    </div>
</div>
