<div *ngIf="remoteAudioList"
    class="block block-themed col-md-6">
    <div class="block-content block-content-full block-content-sm bg-primary">
        <span class="font-w600 text-white">
            Multiple
            audio sources
            found,
            please choose one</span>
    </div>
    <div class="block-content">
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th class="d-none d-sm-table-cell">File
                        name</th>
                    <th class="text-center">File size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of remoteAudioList; let i = index">
                    <td scope="row">
                        <div class="form-check">
                            <input type="radio"
                                [(ngModel)]="selectedItem"
                                class="form-check-input"
                                name="selected-audio"
                                id="selected-audio-{{i}}"
                                value="{{i}}">
                        </div>
                    </td>
                    <td>
                        {{row.key}}
                    </td>
                    <td>{{row.value}}</td>
                    <td class="text-right">
                        <app-file-size [remoteUrl]="row.value"></app-file-size>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger"
            role="alert"
            *ngIf="errorText">
            {{errorText}}
        </div>
        <div class="row mt-5 mb-20">
            <app-spinner-button [iconClass]="'fas fa-thumbs-up'"
                [buttonClass]="'btn-success'"
                (clicked)="createEntry($event)">
                Create link
            </app-spinner-button>
            <button class="btn btn-danger  mr-5 m5-5"
                (click)="cancelCreate()">Cancel</button>
        </div>
    </div>
</div>
