<div *ngIf="hubAvailable else loading">
    <h2>Hello {{nick}}!</h2>
    <form (ngSubmit)="sendMessage()"
        #chatForm="ngForm">
        <div>

            <div class="form-group">
                <label for="message">Message</label>
                <input type="text"
                    [(ngModel)]="message"
                    required
                    class="form-control"
                    name="message"
                    id="message"
                    aria-describedby="helpId"
                    placeholder="Type in a message">
            </div>
        </div>
        <div class="row">
            <div class="col-md6">
                <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!chatForm.valid">Send</button>
            </div>
            <div class="col-md6">
                <button class="btn btn-danger"
                    (click)="disconnectSignalR()">Disconnect</button>
            </div>
        </div>
    </form>

    <div class="messages">
        <ul>
            <li *ngFor="let message of messages">{{message}}</li>
        </ul>
    </div>
</div>
<ng-template #loading>
    <button class="btn btn-primary"
        (click)="connectSignalR()">Connect</button>
</ng-template>
