<form (submit)="doSave(profile)" *ngIf="profile$ | async; let profile; else loading">
    <h2 class="content-heading text-black">Personal Details</h2>
    <div class="row items-push">
        <div class="col-lg-3">
            <a class="block block-link-shadow text-right" href="javascript:void(0)">
                <div class="block-content block-content-full clearfix">
                    <div class="chart js-pie-chart pie-chart js-pie-chart-enabled" data-percent="60" #usageChart *ngIf="limit">
                        <span>{{limit.storageUsed | bytesToHuman}}
                            <br>
                            <small class="text-muted">of {{limit.storageQuota| bytesToHuman}}</small>
                        </span>
                    </div>
                    <p class="font-w600 text-center">Storage space used</p>
                </div>
            </a>
            <div class="mb-15  animated fadeIn">
                <div class="col-sm-6 col-xl-4">
                    <div class="options-container text-center">
                        <div class="input-group" style="visibility: hidden;">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Choose image....
                                    <input type="file" (change)="fileChangeEvent()" #fileInput>
                                </span>
                            </span>
                        </div>
                        <img class="img-fluid options-item" [src]="image.src" alt="">
                        <div class="options-overlay bg-black-op-75">
                            <div class="options-overlay-content">
                                <a class="btn btn-sm btn-rounded btn-alt-danger min-width-75" (click)="callFileInput()">
                                    <i class="fa fa-pencil"></i> Change
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 offset-lg-1">
            <div class="form-group row">
                <div class="col-6">
                    <label for="crypto-settings-firstname">Firstname</label>
                    <input type="text" class="form-control form-control-lg" name="first-name" [(ngModel)]="profile.firstName">
                </div>
                <div class="col-6">
                    <label for="crypto-settings-lastname">Lastname</label>
                    <input type="text" class="form-control form-control-lg" name="second-name" [(ngModel)]="profile.lastName">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="crypto-settings-street-1">Slug</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="slug-box" name="slug-box" autocomplete="off" required="" [(ngModel)]="profile.slug" (input)="onSlugChanged(profile.slug)">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-asterisk"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-text text-muted">This uniquely identifies the rss URL for your podcasts.</div>
                    <div class="invalid-feedback animated fadeInDown">{{slugError}}</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-alt-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-template #loading></ng-template>
