<dropzone [config]="config" [message]="'Click or drag files here to upload'"
          (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
</dropzone>

<!--
<div id="dropzone" class="dropzone dz-clickable"
     [dropzone]="config"
     (error)="onUploadError($event)"
     (success)="onUploadSuccess($event)">
    <div class="dz-default dz-message"><span>Drop files here or<br>click to upload...</span></div>

    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
</div>
-->

<!--<dropzone [config]="config" [message]="'Click or drag files here to upload'"-->
<!--(error)="onUploadError($event)" (success)="onUploadSuccess($event)">-->
<!--</dropzone>-->
