  <div class="d-flex align-items-center justify-content-between">
      <div class="spinner-border text-info "
          *ngIf="isPosting"
          role="status">
          <span class="sr-only">Waiting for Google Drive...</span>
      </div>
      <i class="fa-brands fa-google-drive fa-4x text-info"
          *ngIf="!isPosting"
          role="status">
      </i>
      <div class="ms-2">
          <p class="fs-sm fw-medium mb-0">
              {{message}}
          </p>
          <div class="fs-sm fw-medium opacity-75 text-muted">
              {{subMessage}}
          </div>
      </div>
      <div class="btn-group">
          <button type="button"
              class="btn btn-outline-info ms-2"
              (click)="loadGoogleDrive()">
              <i class="fa fa-folder-open opacity-50 me-1"></i>
          </button>
          <button type="button"
              class="btn btn-outline-danger me-1"
              (click)="cancelUpload()">
              <i class="fa fa-times opacity-50 me-1"></i>
          </button>
      </div>
  </div>
  <div class="alert alert-danger alert-dismissible fade show animated fadeInDown"
      role="alert"
      *ngIf="errorText">
      <strong>Error!</strong> {{ errorText }}
      <button type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
