<div class="mb-30">
    <div class="button-group">
        <button class="btn btn-outline" (click)="loadGoogleDrive()">
            <i class="fa fa-folder-open" *ngIf="!isPosting"></i>
            <i class="fa fa-cog fa-spin" *ngIf="isPosting"></i> Open Google Drive Picker
        </button>
        <button class="btn btn-danger" (click)="cancelUpload()"><i class="fa fa-times"></i></button>
    </div>
    <aside>If you have a popup blocker, you may need to click this twice, or allow popups for this site</aside>
</div>
<div class="alert alert-danger alert-dismissible fade show animated fadeInDown" role="alert" *ngIf="errorText">
    <strong>Error!</strong> {{ errorText }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
