@import '~styles/_variables';

#sidebar {
    overflow-y: hidden !important;
    height: auto !important;
}

img.sidebar-icon {
    width: 28px;
    height: 28px;
    border-radius: 50em;
}

nav.footer-open {
    margin-bottom: $footer-height;
}

nav {
    overflow-x: hidden;
}

.nav-users {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.nav-users {
    padding-bottom: 32px;
    position: fixed;
    // top: 0;
    // bottom: 0;
}
.button-wrapper {
    padding-left: 18px;
    padding-right: 18px;
}
.content-side {
    padding: 0px 0px 1px;
}
