img.sidebar-icon {
    width: 28px;
    height: 28px;
    border-radius: 50em;
}

nav {
    margin-bottom: 56px;
    overflow-x: hidden;
}

.nav-users {
    height: 95%;
    overflow: auto;
}

.nav-users {
    padding-bottom: 32px;
    position: fixed;
    // top: 0;
    // bottom: 0;
}
