//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $brand-primary: #3b5998;
$footer-height: 80px !default;
$fa-font-display: swap;
$theme-earth-primary: #779b4c;
// $link-color: #488328;
$link-color: #ad657d;
$primary: #3b5998;
