#sidebar {
    /* We'll disable this for now, full height bar looks a bit better */
     /* margin-bottom: 55px; */
}
img.sidebar-icon {
    width: 32;
    height: 32px;
    margin: 0 4px;
    border-radius: 50em;
}
