<div class="block block-themed block-rounded pt-2">
    <div class="block-header bg-primary-light">
        <h3 class="block-title">Existing notifications</h3>
        <div class="block-options"
            ngbDropdown>
            <button type="button"
                ngbDropdownToggle
                id="notification-type-chooser"
                class="btn-block-option">
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="dropdown-menu"
                ngbDropdownMenu
                aria-labelledby="notification-type-chooser">
                <a class="dropdown-item"
                    (click)="notificationModal.openModal(type)"
                    *ngFor="let type of types$ | async">
                    <i class="me-1"
                        [ngClass]="getIcon(type)"></i>{{type}}
                </a>
            </div>
        </div>
    </div>
    <div class="block-content"
        *ngFor="let n of notifications">
        <app-notification-item [notification]="n"
            (notificationEdit)="notificationModal.openEditModal(n)"
            (notificationDelete)="deleteNotification(n)">
        </app-notification-item>
    </div>
</div>
<app-notification-modal [podcast]="podcast"
    #notificationModal>
</app-notification-modal>