<div class="block block-themed mb-0">
    <div class="block-header">
        <h3 class="block-title">Upgrade your account!</h3>
        <div class="block-options">
            <button type="button"
                class="btn-block-option"
                data-dismiss="modal"
                aria-label="Close"
                (click)="modal.close()">
                <i class="fa-solid fa-times"></i>
            </button>
        </div>
    </div>
    <div class="block-content">
        <div class="py-20 text-center">
            <div class="mb-20">
                <i class="fas fa-euro-sign fa-4x text-primary"></i>
            </div>
            <div class="font-size-h4 font-w600">Unlock {{extraText}} this (and much more) for as little as €5 p/m</div>
            <div class="text-muted">Visit our Patreon page to find out more!</div>
            <div class="pt-20">
                <a class="btn btn-rounded btn-alt-primary"
                    href="https://www.patreon.com/join/podnoms"
                    target="_blank">
                    <i class="far fa-thumbs-up mr-5"></i> I'll take a look
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
            class="btn btn-alt-success"
            data-dismiss="modal"
            (click)="modal.close()">
            <i class="fa fa-check"></i> Ok
        </button>
    </div>
</div>
