<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-signalr></app-signalr>
        </div>
        <div class="col-md-6">
            <app-spinner-button [iconClass]="'fas fa fa-rocket'"
                [buttonClass]="'btn-danger'"
                (clicked)="clickProcess($event)">
                Hello Sailor
            </app-spinner-button>
            <button type="button"
                name=""
                id=""
                (click)="showToast()"
                class="btn btn-primary btn-lg btn-block">Show Toast</button>
        </div>
    </div>
    <div class="row">
        <button type="button"
            class="btn btn-primary"
            (click)="showPlayer()">Show Player</button>
    </div>
    <br />
    <div class="row">

    </div>
</div>
