<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-signalr></app-signalr>
        </div>
        <div class="col-md-6">
            <button type="button"
                name=""
                id=""
                (click)="showToast()"
                class="btn btn-primary btn-lg btn-block">Show Toast</button>
        </div>
    </div>
    <div class="row">
        <button type="button"
            class="btn btn-primary"
            (click)="showPlayer()">Show Player</button>
    </div>
    <br />
    <div class="row">
        <button type="button"
            class="btn btn-primary"
            (click)="debuggle()">Debuggle</button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text"
                    class="form-control"
                    id="job-id"
                    name="job-id"
                    [(ngModel)]="podcastEntryToProcessId"
                    placeholder="Id of podcast entry to process">
                <div class="input-group-append">
                    <button type="button"
                        (click)="submitProcessPodcastJob()"
                        class="btn btn-secondary">Submit job</button>
                </div>
            </div>
        </div>
    </div>
</div>
