<div id="page-container"
     class="main-content-boxed">
    <main id="main-container">
        <div class="bg-image"
             style="background-image: url('/assets/img/robothand.jpg'); background-size: 100% 100%;">
            <div class="hero-static content content-full bg-white">
                <div class="text-center">
                    <a class="link-effect font-w700">
                        <i class="login-fire"></i>
                        <span class="font-size-xl text-primary-dark">pod</span>
                        <span class="font-size-xl">noms</span>
                    </a>
                    <h1 class="h2 font-w700 mt-50">Robot Powered Podcasts</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-md-6 col-xl-4">
                        <form class="js-validation-signin"
                              action=""
                              (ngSubmit)="resetPassword()"
                              method="post">
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-material floating">
                                        <input type="text"
                                               class="form-control"
                                               id="login-username"
                                               name="login-username"
                                               [(ngModel)]="username">
                                        <label for="login-username">Email Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-danger"
                                 *ngIf="errorMessage"
                                 role="alert">
                                {{errorMessage}}
                            </div>
                            <div class="form-group row gutters-tiny"
                                 *ngIf="successMessage">
                                <div class="col-12 mb-10">
                                    <div class="alert alert-success"
                                         role="alert">
                                        <strong>Success!</strong> {{successMessage}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row gutters-tiny">
                                <div class="col-12 mb-10">
                                    <a [routerLink]="['']"
                                       *ngIf="successMessage"
                                       class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-secondary">Go Home..</a>
                                    <button type="submit"
                                            *ngIf="!successMessage"
                                            class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-primary">
                                        <i class="si si-reload mr-10"></i> Reset Password
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
