<div *ngIf="!loaded">
    <div id="page-loader"
        class="bg-gd-lake show">
    </div>
</div>
<div *ngIf="loaded"
    id="page-container"
    class="main-content-boxed bump-top">
    <main id="main-container">
        <div class="home-bg">
            <div class="hero bg-black-50">
                <div class="hero-inner">
                    <div class="content content-full">
                        <div class="row justify-content-center">
                            <div class="col-md-8 py-4 text-center">
                                <h1 class="display-4 fw-bold text-white mb-2 shadowed">Pod:Noms</h1>
                                <h2 class="h4 fw-normal text-white-75 pb-4 mb-3 border-white-op-b shadowed">🤖 Robot Powered Podcasts 🤖</h2>

                                <div class="d-flex  border-white-op-b pb-4">
                                    <div>
                                        <h3 class="shadowed font-size-h1 font-weight-bold text-black-50">Create</h3>
                                        <div class="font-size-xs font-w700 text-white-op">Your
                                            own podcast
                                            feeds from
                                            diverse
                                            sources</div>
                                    </div>
                                    <div>
                                        <h3 class="shadowed font-size-h1 font-weight-bold text-black-50">Curate</h3>
                                        <div class="font-size-xs font-w700 text-white-op">Add
                                            YouTube
                                            videos,
                                            Mixcloud/Soundcloud
                                            audio and
                                            many, many
                                            more</div>
                                    </div>
                                    <div class="d-none d-sm-inline-block">
                                        <h3 class=" shadowed font-size-h1 font-weight-bold text-black-50">Monitor</h3>
                                        <div class="font-size-xs font-w700 text-white-op">Automatically
                                            add new
                                            episodes as
                                            they arrive</div>
                                    </div>
                                    <div class="d-none d-sm-inline-block">
                                        <h3 class="shadowed font-size-h1 font-weight-bold text-black-50">Customise</h3>
                                        <div class="font-size-xs font-w700 text-white-op">Custom
                                            domains,
                                            IFTT/Slack
                                            notifications
                                            and much
                                            more!!</div>
                                    </div>

                                </div>
                                <div class="d-flex m-2 justify-content-center">
                                    <a class="btn rounded-pill btn-secondary m-2 px-2 px-sm-5"
                                        [routerLink]="['auth/login']">
                                        <i class="fas fa fa-rocket mr-10"></i>
                                        Let's Go
                                    </a>
                                    <a class="btn rounded-pill btn-primary m-2 px-2 px-sm-5"
                                        [routerLink]="['_/about']">
                                        <i class="fas fa fa-info-circle mr-10"></i>
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- <main *ngIf="loaded">
    <div class="bg-image">
        <div class="hero">
            <div class="hero-inner">
                <div class="content content-full">
                    <div class="row justify-content-center bump-top">
                        <div class="col-md-6 text-center">
                            <h1 class="display-4 font-w700 text-white mb-10">
                                <span class="text-primary-dark">pod</span>
                                <span class="ftext-white-op">:</span>
                                <span class="text-primary-dark">:</span>
                                <span class="ftext-white-op">noms</span>
                            </h1>
                            <h2 class="shadowed h2 font-w400 text-body-bg-light pb-30 mb-20 border-white-op-b">
                                Robot powered podcasts</h2>
                            <div class="js-countdown mb-20 shadowed">
                                <div class="row items-push text-center">
                                    <div class="col-6 col-sm-3">
                                        <div class="font-size-h1 font-w700 text-white">Create</div>
                                        <div class="font-size-xs font-w700 text-white-op">Your
                                            own podcast
                                            feeds from
                                            diverse
                                            sources</div>
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <div class="font-size-h1 font-w700 text-white">Curate</div>
                                        <div class="font-size-xs font-w700 text-white-op">Add
                                            YouTube
                                            videos,
                                            Mixcloud/Soundcloud
                                            audio and
                                            many, many
                                            more</div>
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <div class="font-size-h1 font-w700 text-white">Monitor</div>
                                        <div class="font-size-xs font-w700 text-white-op">Automatically
                                            add new
                                            episodes as
                                            they arrive</div>
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <div class="font-size-h1 font-w700 text-white">Customise</div>
                                        <div class="font-size-xs font-w700 text-white-op">Custom
                                            domains,
                                            IFTT/Slack
                                            notifications
                                            and much
                                            more!!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row items-push-2x text-center text-sm-left">
                                <div class="col-sm-6 ">
                                    <a class="btn btn-lg btn-block btn-info min-width-125 mb-10"
                                        [routerLink]="['auth/login']">
                                        <i class="fas fa fa-rocket mr-10"></i>
                                        Let's Go!!!!
                                    </a>
                                </div>
                                <div class="col-sm-6 ">
                                    <a class="btn btn-lg btn-block btn-warning min-width-125 mb-10"
                                        [routerLink]="['_/about']">
                                        <i class="fas fa fa-info-circle mr-10"></i>
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> -->
