.shadowed {
  text-shadow: 0px 0px 8px #000;
}

.bump-top {
  margin-top: -300px;
}

.home-bg {
  background-image: url(https://cdn.podnoms.com/static/images/pn-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(2);
}
