  <div class="d-flex flex-wrap h-100 my-2 my-md-4">
      <div class="d-none
          d-sm-inline-block">
          <img [src]="entry.thumbnailUrl"
              appImageFallback="https://cdn.podnoms.com/static/images/default-entry.png"
              class="img-avatar img-avatar48"
              [alt]="">
          <span class="avatar-status badge-success"></span>
      </div>
      <div class="flex-grow-1 px-2">
          <div class="fw-semibold">
              <span>{{entry.title}}</span>
          </div>
          <div class="font-w600 mb-0">
              <div *ngIf="entry.processingStatus==='Failed'"
                  class="text-danger">
                  <span>Failed!</span>
              </div>
              <div *ngIf="entry.processingStatus==='Processed'"
                  class="text-muted d-none d-sm-inline-block">
                  {{entry.createDate | amFromUtc | amLocal | amTimeAgo}}
              </div>
              <div *ngIf="entry.processingStatus!=='Processed'">
                  <span *ngIf="entry.processingStatus!=='Processed' &&
                             entry.processingStatus !== 'Failed'"
                      style="width: 100%">
                      <div *ngIf="entry.processingStatus==='Accepted' ||
                                entry.processingStatus==='Processing' ||
                                entry.processingStatus==='Parsing' ||
                                entry.processingStatus==='Converting'">
                          <div class="spinner-border spinner-border-sm text-primary"
                              role="status">
                          </div>
                          <span class="ms-2">{{entry.processingStatus || 'Preparing'}}...... {{narrative}}</span>
                      </div>

                      <p *ngIf="entry.processingStatus==='Downloading' ||
                              entry.processingStatus==='Uploading' ||
                              entry.processingStatus==='Caching'">
                          <ngb-progressbar type="danger"
                              [striped]="true"
                              class="bg-grey-lighter"
                              [value]="percentageProcessed">
                              {{entry.processingStatus}}:{{currentSpeed}} - {{percentageProcessed}}%
                          </ngb-progressbar>
                      </p>
                  </span>
                  <span *ngIf="entry.processingStatus==='Processed'"
                      style="width: 100%"
                      class="mt-25">
                  </span>
              </div>
          </div>
      </div>
      <div>
          <div aria-label="Action buttons">
              <div *ngIf="entry.processingStatus==='Processed'">
                  <div class="btn-group btn-group-sm me-1"
                      role="group"
                      aria-label="Action buttons">

                      <button type="button"
                          class="btn btn-alt-warning"
                          (click)="playAudio()"
                          data-toggle="tooltip"
                          title="Play episode"
                          aria-label="Play">
                          <div [ngSwitch]="(playState$ | async)">
                              <i *ngSwitchCase="playStates.loading"
                                  class="fa fa-cog fa-spin">
                              </i>
                              <i *ngSwitchCase="playStates.playing"
                                  class="fa-solid fa-pause">
                              </i>
                              <i *ngSwitchDefault
                                  class="fa-solid fa-play">
                              </i>
                          </div>
                      </button>
                  </div>
                  <div class="btn-group btn-group-sm me-1 d-none d-md-inline-block"
                      role="group"
                      aria-label="Action buttons">
                      <button type="button"
                          class="btn btn-info"
                          (click)="downloadAudio(entry)"
                          data-toggle="tooltip"
                          title="Download episode">
                          <i *ngIf="!preparingDownload"
                              class="fa-solid fa-cloud-download-alt"></i>
                          <i *ngIf="preparingDownload"
                              class="fa fa-cog fa-spin text-success"></i>
                      </button>
                      <button type="button"
                          class="btn btn-info"
                          data-toggle="tooltip"
                          title="Share episode"
                          (click)="shareEpisode(entry)">
                          <i class="fa fa-share-alt"></i>
                      </button>

                      <button type="button"
                          class="btn btn-info"
                          data-toggle="tooltip"
                          title="Show episode logs"
                          (click)="showLogs(entry)">
                          <i class="fa fa-terminal"></i>
                      </button>
                  </div>
                  <div class="btn-group btn-group-sm d-none d-md-inline-block"
                      role="group"
                      aria-label="Change buttons">
                      <a class="btn btn-alt-success "
                          [routerLink]="['../entry', entry?.id, 'edit']"
                          data-toggle="tooltip"
                          title="Edit episode">
                          <i class="fa-solid fa-pencil-alt"></i>
                      </a>
                      <button type="button"
                          class="btn btn-danger"
                          (click)="showEntryDeleteDialog()"
                          data-toggle="tooltip"
                          title="Delete episode">
                          <i class="fa fa-times"></i>
                      </button>
                  </div>
              </div>
              <div *ngIf="entry.processingStatus==='Failed'">
                  <button type="button"
                      class="btn btn-sm btn-warning"
                      (click)="retry(entry)"
                      data-toggle="tooltip"
                      title="Retry"><i class="fas fa fa-redo"></i>&nbsp;Retry
                  </button>
                  <button type="button"
                      class="btn btn-danger"
                      (click)="showEntryDeleteDialog()"
                      data-toggle="tooltip"
                      title="Delete episode">
                      <i class="fa fa-times"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
