.podcast-entry-table-image {
    width: 36px;
    height: 36px;
}

.tools-wrapper {
    margin-top: 10px;
}


.progress-bar {
    -webkit-text-stroke: 1px black;
    color: dimgray !important;
}
