<th class="text-center" scope="row">
  <img
    [src]="entry.thumbnailUrl"
    appImageFallback="https://cdn.podnoms.com/static/images/default-entry.png"
    class="img-avatar img-avatar48"
    [alt]=""
  />
</th>
<td>{{ entry.title }}</td>
<td class="d-none d-sm-table-cell">
  <div class="btn-group">
    <button
    type="button"
    class="btn btn-sm btn-secondary js-bs-tooltip-enabled"
    (click)="playAudio()"
    data-toggle="tooltip"
    title="Play episode"
    aria-label="Play"
  >
    <div [ngSwitch]="playState$ | async">
      <i *ngSwitchCase="playStates.loading" class="fa fa-cog fa-spin"> </i>
      <i *ngSwitchCase="playStates.playing" class="fa-solid fa-pause"> </i>
      <i *ngSwitchDefault class="fa-solid fa-play"> </i>
    </div>
  </button>
    <button
      type="button"
      class="btn btn-info"
      (click)="downloadAudio(entry)"
      data-toggle="tooltip"
      title="Download episode"
      type="button"
      class="btn btn-sm btn-secondary js-bs-tooltip-enabled"
      title="Download episode"
      aria-label="Download episode"
      (click)="downloadAudio(entry)"
    >
      <i *ngIf="!preparingDownload" class="fa-solid fa-cloud-download-alt"></i>
      <i *ngIf="preparingDownload" class="fa fa-cog fa-spin text-success"></i>
    </button>

    <button
      type="button"
      class="btn btn-sm btn-secondary js-bs-tooltip-enabled"
      data-bs-toggle="tooltip"
      aria-label="Share episode"
      title="Share episode"
      (click)="shareEpisode(entry)"
    >
      <i class="fa fa-share-alt"></i>
    </button>
  </div>
</td>
<td class="text-center">
  <div class="btn-group">
    <a
      type="button"
      class="btn btn-sm btn-secondary js-bs-tooltip-enabled"
      data-bs-toggle="tooltip"
      aria-label="Edit"
      title="Edit"
      [routerLink]="['../entry', entry?.id, 'edit']"
    >
      <i class="fa fa-pencil-alt"></i>
    </a>
    <button
      type="button"
      class="btn btn-sm btn-secondary js-bs-tooltip-enabled"
      data-bs-toggle="tooltip"
      aria-label="Delete episode"
      title="Delete episode"
      (click)="showEntryDeleteDialog()"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
</td>
