<div class="row mb-15">
    <div class="col-md-1 text-center">
        <div *ngIf="entry.processingStatus === 'Accepted'">
            <i class="fas fa fa-cog fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="avatar"
            *ngIf="entry.processingStatus !== 'Accepted'">
            <img [src]="entry.thumbnailUrl"
                class="img-avatar img-avatar48"
                alt="">
            <span class="avatar-status badge-success"></span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="font-w600 mb-10">
            <inline-editor type="text"
                [(ngModel)]="entry.title"
                (onSave)="updateTitle($event)"
                name="title"
                size="32"
                (click)="__fixTitleEdit()">
            </inline-editor>
        </div>
        <div class="font-w600 mb-0">
            <div *ngIf="entry.processingStatus==='Failed'"
                class="text-danger">
                <span>Failed!</span>
            </div>
            <div *ngIf="entry.processingStatus==='Processed'"
                class="text-muted">
                <span>{{entry.processingStatus}}</span>|
                {{entry.createDate | amTimeAgo}}
            </div>
            <div *ngIf="entry.processingStatus!=='Processed'">
                <span *ngIf="entry.processingStatus!=='Processed' &&
                             entry.processingStatus !== 'Failed'"
                    style="width: 100%">
                    <div *ngIf="entry.processingStatus==='Processing' ||
                                entry.processingStatus==='Parsing' ||
                                entry.processingStatus==='Converting'">
                        <div class="spinner-border spinner-border-sm text-primary"
                            role="status">
                        </div>
                        <span class="ml-5">{{entry.processingStatus || 'Preparing'}}...... {{narrative}}</span>
                    </div>
                    <p *ngIf="entry.processingStatus==='Downloading' || entry.processingStatus==='Uploading'">
                        <ngb-progressbar type="info"
                            height="10px"
                            [value]="percentageProcessed">
                            {{entry.processingStatus}}:{{currentSpeed}} - {{percentageProcessed}}%
                        </ngb-progressbar>
                    </p>
                </span>
                <span *ngIf="entry.processingStatus==='Processed'"
                    style="width: 100%"
                    class="mt-25">
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center"
        valign="middle">
        <div class="tools-wrapper">
            <div class="btn-group">
                <button type="button"
                    class="btn btn-success"
                    *ngIf="entry.processingStatus==='Processed'"
                    (click)="audioService.playAudio(entry.audioUrl, entry.title)">
                    <i class="icon"
                        [ngClass]="{'icon-control-pause': playing, 'icon-control-play': !playing}"></i>
                </button>
                <button type="button"
                    *ngIf="entry.processingStatus==='Processed'"
                    class="btn btn-secondary"
                    data-toggle="tooltip"
                    title="Share episode"
                    (click)="shareEpisode(entry)">
                    <i class="fa fa-share-alt"></i>
                </button>
                <button type="button"
                    *ngIf="entry.processingStatus==='Processed'"
                    class="btn btn-secondary"
                    (click)="downloadAudio(entry)"
                    data-toggle="tooltip"
                    title="Download episode">
                    <i *ngIf="!preparingDownload"
                        class="icon icon-cloud-download"></i>
                    <i *ngIf="preparingDownload"
                        class="fa fa-cog fa-spin text-success"></i>
                </button>
                <button type="button"
                    *ngIf="entry.processingStatus === 'Failed'"
                    class="btn btn-success"
                    (click)="retry(entry)"
                    data-toggle="tooltip"
                    title="Retry"><i class="fas fa fa-redo"></i>&nbsp;Retry
                </button>
                <a class="btn btn-secondary"
                    *ngIf="entry.processingStatus==='Processed'"
                    [routerLink]="['../entry', entry?.id, 'edit']"
                    data-toggle="tooltip"
                    title="Edit episode">
                    <i class="icon icon-pencil"></i>
                </a>
                <button type="button"
                    class="btn btn-danger"
                    (click)="entryDeleteDialog.show()"
                    data-toggle="tooltip"
                    title="Delete episode">
                    <i class="icon icon-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #shareDialog>
    <app-sharing [entry]="
        entry"
        (shareComplete)="shareComplete($event)">
    </app-sharing>
</ng-template>
<div class="modal fade"
    role="document"
    bsModal
    #entryDeleteDialog="bs-modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Delete this
                        podcast
                        entry?
                    </h3>
                    <div class="block-options">
                        <button type="button"
                            class="btn-block-option"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="entryDeleteDialog.hide()">
                            <i class="icon icon-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <h3 class="mb-20">
                        This operation cannot be undone!
                    </h3>
                    <div class="container-fluid cxt-padded bg-faded">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 text-md-left text-center">
                                    <img class="modal-entry-image rounded-circle"
                                        [src]="entry.thumbnailUrl"
                                        alt="Generic placeholder image">
                                </div>
                                <div class="col-md-10 text-md-left text-center font-w600">
                                    {{entry.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="mt-20">Deleting this entry
                        will
                        delete all associated audio with no
                        opportunity
                        to get it back. It will also be
                        removed
                        from any podcast applications
                        subscribed
                        to this feed..
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-alt-secondary"
                        data-dismiss="modal"
                        (click)="entryDeleteDialog.hide()">No</button>
                    <button type="button"
                        class="btn btn-alt-success"
                        data-dismiss="modal"
                        (click)="deleteEntry(); entryDeleteDialog.hide()">
                        <i class="fas fa fa-check"></i> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
