<div *ngIf="publicSettingsForm">
    <form class="needs-validation"
        [formGroup]="publicSettingsForm"
        (submit)="submitForm()"
        novalidate>
        <div class="row">
            <div class="col-md-6 pr-50">
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <label class="form-label"
                            for="public-title">Public title</label>
                        <input class="form-control form-control-lg"
                            [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['publicTitle'].invalid}"
                            formControlName="publicTitle"
                            id="public-title"
                            name="public-title"
                            placeholder="Enter title for public podcast page.."
                            type="text">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <label class="form-label"
                            for="twitter-page">Twitter page</label>
                        <input class="form-control form-control-lg"
                            [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['twitterUrl'].invalid}"
                            formControlName="twitterUrl"
                            id="twitter-page"
                            name="twitter-page"
                            placeholder="Enter the URL of the Twitter page for this podcast.."
                            type="text">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <label class="form-label"
                            for="facebook-page">Facebook page</label>
                        <input class="form-control form-control-lg"
                            [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['facebookUrl'].invalid}"
                            formControlName="facebookUrl"
                            id="facebook-page"
                            name="facebook-page"
                            placeholder="Enter the URL of the Facebook page for this podcast.."
                            type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <label class="form-label"
                            for="podcast-domain">Custom Domain </label>
                        <div class="input-group">
                            <input type="text"
                                [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['customDomain'].invalid}"
                                formControlName="customDomain"
                                class="form-control"
                                id="podcast-domain"
                                placeholder="Custom domain name"
                                autocomplete="off" />
                            <span class="input-group-text"> <i class="fa fa-asterisk"></i> </span>

                        </div>
                        <div class="form-text text-muted">
                            This should be a CNAME pointing to pages.podnoms.com
                        </div>
                        <div class="form-text text-muted">
                            Send us a
                            <a [href]="sslRequestUri"
                                target="_blank"
                                rel="noopener">
                                mail
                            </a> if you want an SSL cert for your domain
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <label class="form-label"
                            for="podcast-domain">Custom RSS Feed Domain </label>
                        <div class="input-group">
                            <input type="text"
                                [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['customRssDomain'].invalid}"
                                formControlName="customRssDomain"
                                autocomplete="off"
                                class="form-control"
                                placeholder="Custom RSS Feed domain name" />
                            <span class="input-group-text"> <i class="fa fa-asterisk"></i> </span>
                        </div>
                        <div class="form-text text-muted">
                            This should be a CNAME pointing to rss.podnoms.com
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="block-header">
                        <div class="form-check">
                            <input class="form-check-input"
                                type="checkbox"
                                (change)="runValidation()"
                                formControlName="private"
                                id="isPrivate"
                                name="isPrivate">
                            <label class="form-check-label"
                                for="isPrivate">Private ?</label>
                        </div>
                    </div>
                    <div class="px-4"
                        [style.visibility]="publicSettingsForm.controls['private'].value ? 'visible' : 'hidden'">
                        <div class="form-group row">
                            <div class="col-12">
                                <label class="form-label"
                                    for="signup-username">Username</label>
                                <input type="text"
                                    class="form-control"
                                    id="authUserName"
                                    autocomplete="off"
                                    [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['authUserName'].invalid}"
                                    formControlName="authUserName"
                                    name="authUserName"
                                    placeholder="eg: john_smith">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label class="form-label"
                                    for="authPassword">Password</label>
                                <input type="password"
                                    class="form-control"
                                    autocomplete="off"
                                    [ngClass]="{'is-invalid': !publicSettingsForm.valid && publicSettingsForm.controls['authPassword'].invalid}"
                                    formControlName="authPassword"
                                    id="authPassword"
                                    name="authPassword"
                                    placeholder="********">
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-10">
                                <h5>
                                    Passwords are stored
                                    securely using current best practices,
                                    however most podcast clients will send
                                    your
                                    password in the clear, so don't use
                                    passwords you use for other services.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </form>
</div>
