//
// Display
// --------------------------------------------------

.h-header {
  height: $header-height !important;
}

.overflow-y-auto {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.skew-y-1 {
  transform: skewY(1deg);
}

.-skew-y-1 {
  transform: skewY(-1deg);
}

// Full height with scroll on large screens
@include media-breakpoint-up(lg) {
  .h100-scroll {
    height: 100vh;
    overflow-y: auto;
  }
}

// Dark mode display classes
html.dark {
  .d-dark-none {
    display: none !important;
  }

  .d-dark-inline-block {
    display: inline-block !important;
  }

  .d-dark-block {
    display: block !important;
  }

  .d-dark-flex {
    display: flex !important;
  }

  .d-dark-inline-flex {
    display: inline-flex !important;
  }
}
