@use "../../bootstrap/variables" as bootstrap-variables;
@use "../mixins/text-emphasis";
@use "../variables" as codebase-variables;
@use "../variables-themes";

//
// Text
// --------------------------------------------------

// Helpers
.text-back {
  position: absolute;
  top: -3rem;
  right: 0;
  font-size: 500%;
  font-weight: 700;
  opacity: .05;
  z-index: 0;
}

// Contextual colors
@include text-emphasis.text-emphasis-variant(".text-primary", bootstrap-variables.$primary);
@include text-emphasis.text-emphasis-variant('.text-primary-dark', codebase-variables.$primary-dark);
@include text-emphasis.text-emphasis-variant('.text-primary-darker',codebase-variables.$primary-darker);
@include text-emphasis.text-emphasis-variant('.text-primary-light', codebase-variables.$primary-light);
@include text-emphasis.text-emphasis-variant('.text-primary-lighter', codebase-variables.$primary-lighter);

@include text-emphasis.text-emphasis-variant(".text-dark", bootstrap-variables.$dark);

@include text-emphasis.text-emphasis-variant(".text-success", bootstrap-variables.$success);
@include text-emphasis.text-emphasis-variant(".text-success-light", codebase-variables.$success-light);
@include text-emphasis.text-emphasis-variant(".text-warning", bootstrap-variables.$warning);
@include text-emphasis.text-emphasis-variant(".text-warning-light", codebase-variables.$warning-light);
@include text-emphasis.text-emphasis-variant(".text-info", bootstrap-variables.$info);
@include text-emphasis.text-emphasis-variant(".text-info-light", codebase-variables.$info-light);
@include text-emphasis.text-emphasis-variant(".text-danger", bootstrap-variables.$danger);
@include text-emphasis.text-emphasis-variant(".text-danger-light", codebase-variables.$danger-light);

@include text-emphasis.text-emphasis-variant(".text-body-bg", bootstrap-variables.$body-bg);
@include text-emphasis.text-emphasis-variant(".text-body-bg-dark", codebase-variables.$body-bg-dark);
@include text-emphasis.text-emphasis-variant(".text-body-bg-light", codebase-variables.$body-bg-light);
@include text-emphasis.text-emphasis-variant(".text-body-color", bootstrap-variables.$body-color);
@include text-emphasis.text-emphasis-variant(".text-body-color-dark", codebase-variables.$body-color-dark);
@include text-emphasis.text-emphasis-variant(".text-body-color-light", codebase-variables.$body-color-light);

@include text-emphasis.text-emphasis-variant(".text-muted", bootstrap-variables.$text-muted);
@include text-emphasis.text-emphasis-variant(".text-white", bootstrap-variables.$white);
@include text-emphasis.text-emphasis-variant(".text-white-25", rgba(bootstrap-variables.$white, .25));
@include text-emphasis.text-emphasis-variant(".text-white-50", rgba(bootstrap-variables.$white, .5));
@include text-emphasis.text-emphasis-variant(".text-white-75", rgba(bootstrap-variables.$white, .75));
@include text-emphasis.text-emphasis-variant(".text-black", bootstrap-variables.$black);
@include text-emphasis.text-emphasis-variant(".text-black-25", rgba(bootstrap-variables.$black, .25));
@include text-emphasis.text-emphasis-variant(".text-black-50", rgba(bootstrap-variables.$black, .5));
@include text-emphasis.text-emphasis-variant(".text-black-75", rgba(bootstrap-variables.$black, .75));

@include text-emphasis.text-emphasis-variant(".text-gray", bootstrap-variables.$gray-400);
@include text-emphasis.text-emphasis-variant(".text-gray-dark", bootstrap-variables.$gray-600);
@include text-emphasis.text-emphasis-variant(".text-gray-darker", bootstrap-variables.$gray-800);
@include text-emphasis.text-emphasis-variant(".text-gray-light", bootstrap-variables.$gray-200);
@include text-emphasis.text-emphasis-variant(".text-gray-lighter", bootstrap-variables.$gray-100);

// Contextual dual text colors (for dark header/sidebar)
@include text-emphasis.text-emphasis-variant(".text-dual", codebase-variables.$primary-dark);

.page-header-dark #page-header,
.sidebar-dark #sidebar {
  @include text-emphasis.text-emphasis-variant(".text-dual", codebase-variables.$body-color-light);
}

// Default Color Theme
@include text-emphasis.text-emphasis-variant('.text-default', bootstrap-variables.$primary);
@include text-emphasis.text-emphasis-variant('.text-default-dark', codebase-variables.$primary-dark);
@include text-emphasis.text-emphasis-variant('.text-default-darker', codebase-variables.$primary-darker);
@include text-emphasis.text-emphasis-variant('.text-default-light', codebase-variables.$primary-light);
@include text-emphasis.text-emphasis-variant('.text-default-lighter', codebase-variables.$primary-lighter);

// Elegance Color Theme
@include text-emphasis.text-emphasis-variant('.text-elegance', variables-themes.$theme-elegance-primary);
@include text-emphasis.text-emphasis-variant('.text-elegance-dark', variables-themes.$theme-elegance-dark);
@include text-emphasis.text-emphasis-variant('.text-elegance-darker', variables-themes.$theme-elegance-darker);
@include text-emphasis.text-emphasis-variant('.text-elegance-light', variables-themes.$theme-elegance-light);
@include text-emphasis.text-emphasis-variant('.text-elegance-lighter', variables-themes.$theme-elegance-lighter);

// Pulse Color Theme
@include text-emphasis.text-emphasis-variant('.text-pulse', variables-themes.$theme-pulse-primary);
@include text-emphasis.text-emphasis-variant('.text-pulse-dark', variables-themes.$theme-pulse-dark);
@include text-emphasis.text-emphasis-variant('.text-pulse-darker', variables-themes.$theme-pulse-darker);
@include text-emphasis.text-emphasis-variant('.text-pulse-light', variables-themes.$theme-pulse-light);
@include text-emphasis.text-emphasis-variant('.text-pulse-lighter', variables-themes.$theme-pulse-lighter);

// Flat Color Theme
@include text-emphasis.text-emphasis-variant('.text-flat', variables-themes.$theme-flat-primary);
@include text-emphasis.text-emphasis-variant('.text-flat-dark', variables-themes.$theme-flat-dark);
@include text-emphasis.text-emphasis-variant('.text-flat-darker', variables-themes.$theme-flat-darker);
@include text-emphasis.text-emphasis-variant('.text-flat-light', variables-themes.$theme-flat-light);
@include text-emphasis.text-emphasis-variant('.text-flat-lighter', variables-themes.$theme-flat-lighter);

// Corporate Color Theme
@include text-emphasis.text-emphasis-variant('.text-corporate', variables-themes.$theme-corporate-primary);
@include text-emphasis.text-emphasis-variant('.text-corporate-dark', variables-themes.$theme-corporate-dark);
@include text-emphasis.text-emphasis-variant('.text-corporate-darker', variables-themes.$theme-corporate-darker);
@include text-emphasis.text-emphasis-variant('.text-corporate-light', variables-themes.$theme-corporate-light);
@include text-emphasis.text-emphasis-variant('.text-corporate-lighter', variables-themes.$theme-corporate-lighter);

// Earth Color Theme
@include text-emphasis.text-emphasis-variant('.text-earth', variables-themes.$theme-earth-primary);
@include text-emphasis.text-emphasis-variant('.text-earth-dark', variables-themes.$theme-earth-dark);
@include text-emphasis.text-emphasis-variant('.text-earth-darker', variables-themes.$theme-earth-darker);
@include text-emphasis.text-emphasis-variant('.text-earth-light', variables-themes.$theme-earth-light);
@include text-emphasis.text-emphasis-variant('.text-earth-lighter', variables-themes.$theme-earth-lighter);
