<div class="floated-chat-w active" *ngIf="chatActive">
    <div class="floated-chat-i">
        <div class="chat-close" (click)="togglePopup()">
            <i class="fa fa-2x fa-window-close"></i>
        </div>
        <div class="chat-head">
            <div class="user-w with-status status-green">
                <div class="user-avatar-w">
                    <div class="user-avatar">
                        <img alt="" src="/assets/img/alex-1.png">
                    </div>
                </div>
                <div class="user-name">
                    <h6 class="user-title">Welly Welly Well</h6>
                    <div class="user-role">The old days are dead and gone days.</div>
                </div>
            </div>
        </div>
        <div class="chat-messages ps">
            <div class="message self">
                <div class="message-content">Tell me where it hurts?</div>
            </div>
            <div class="message" *ngFor="let message of messages$ | async">
                <div class="message-content">{{message.message}}</div>
            </div>
        </div>

        <div class="chat-controls">
            <input #message class="message-input" placeholder="Type your message and press enter..." type="text"
                    (keyup.enter)="sendMessage(message)">
            <div class="chat-extra">
                <a href="#">
                    <span class="extra-tooltip">Attach Document</span>
                    <i class="fa fa-file"></i>
                </a>
                <a href="#">
                    <span class="extra-tooltip">Insert Photo</span>
                    <i class="fa fa-image"></i>
                </a>
                <a href="#">
                    <span class="extra-tooltip">Upload Video</span>
                    <i class="fa fa-video-camera"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="floated-chat-btn" *ngIf="!chatActive" (click)="togglePopup()">
    <i class="fa fa-comments-o"></i>
    <span>Talk to us!</span>
</div>
